[2020-04-14 21:32] kevintechie opened #612 "Add support for Oauth2 logout"
### What problem does this feature solve?

Some Oauth2 implementations require that you call their logout endpoint to invalidate tokens and clear cookies to prevent non-authorized users from signing in with the same browser session. Currently, logout only clears the current auth-module session.

### What does the proposed changes look like?

Add an optional logout endpoint parameter and logout met

[2020-04-15 03:55] mjzarrin commented on #437
This is not report of a Bug!
The Nuxt Auth is the Bug!
for me The Nuxt Auth takes more than 3 times of completing all other part of my project.
Auth documentation seems complete but it is not strait-forward telling.

[2020-04-15 11:23] cantoute commented on #437
time to have a nuxt/auth-passort !!

[2020-04-15 13:59] manniL commented on #610
[This post](https://blog.lichter.io/posts/vue-hydration-error/) should help you ☺️

[2020-04-15 15:23] svitekpavel opened #614 "Auth0 config not correctly copied from nuxt.config.js when dev !== true"
### Version

[v4.9.0](https://github.com/auth-module/releases/tag/v4.9.0)

### Reproduction link

[http://n-a](http://n-a)

### Steps to reproduce

Create a NuxtJS project with Auth0 authentication strategy.

Run the project in DEV mode `npm run dev`. The authentication works as expected, user is redirected to config.auth.auth0.domain URL as specified in nuxt.config.js

Run build `npm run build` a

[2020-04-15 22:55] wedwardbeck opened #616 "not respecting header settings, sending only json on local login scheme"
### Version

[v4.9.0](https://github.com/auth-module/releases/tag/v4.9.0)

### Reproduction link

[https://github.com/wedwardbeck/nuxt-auth-vs-axios-form-issue](https://github.com/wedwardbeck/nuxt-auth-vs-axios-form-issue)

### Steps to reproduce

In reference to issue 323 (https://github.com/nuxt-community/auth-module/issues/323) and following the direction in issue 41 (https://github.com/nuxt-co

[2020-04-16 18:14] #575 closed

[2020-04-16 18:15] #560 closed

[2020-04-16 18:26] #562 closed

[2020-04-16 20:18] devondahon commented on #505
If I do that, I get the following error in **Laravel** right after logging in:
[code]
`nuxt.config.js`
[code]

![image](https://user-images.githubusercontent.com/612946/79502480-f4f90480-802f-11ea-917c-25e09c2b3cdc.png)
![image](https://user-images.githubusercontent.com/612946/79502301-af3c3c00-802f-11ea-8ccd-25b836009df7.png)
![image](https://user-images.githubusercontent.com/612946/79502338-c380

[2020-04-16 20:29] JoaoPedroAS51 commented on #505
Hi @devondahon! If I'm not wrong, this error is because your callback route is not matching. I see that you set callback to `http://localhost:3000/auth/callback`. Then add:

[code]

[2020-04-16 20:33] devondahon commented on #505
Thanks a lot ! It works :D

[2020-04-16 20:35] JoaoPedroAS51 commented on #505
I'm so happy to know it worked!! :smiley:

[2020-04-16 20:37] devondahon commented on #505
If I want to make any other request to this backend, I just need to send the token in the Bearer or is there a safer way to make a request ?

Also, is it using CORS ? Should I pass CORS stuffs in the request as well ?

[2020-04-16 22:24] JoaoPedroAS51 commented on #505
The access token is automatically added to your `$axios` instance after a successful login. So any request made using `$axios` will have the authorization header.

And yes, it is using CORS. But you just need to configure `cors.php` config in your Laravel application. Allow your origin, methods and paths...

[2020-04-16 22:28] JoaoPedroAS51 commented on #505
**Note:** Refresh tokens aren't supported yet. We are working on this feature in dev branch. So if you need to refresh tokens, then add `"@nuxtjs/auth": "nuxt-community/auth-module#dev"` to your `package.json`.

You can see the new docs at https://dev.auth.nuxtjs.org/

[2020-04-17 05:21] mjzarrin opened #618 "Authorization Token wrongly saved as Bearer [object Object]"
I have created a new project very similar to [demo](https://github.com/nuxt-community/auth-module/tree/dev/examples/demo) in examples.
the API provides tokens correctly, However, instead of token value, the token type is set for Authorization.

<img width="1680" alt="Screen Shot 2020-04-17 at 09 34 18" src="https://user-images.githubusercontent.com/1506712/79534223-3e2c7100-808f-11ea-8ee5-6fa69a06

[2020-04-17 05:25] JoaoPedroAS51 commented on #618
Hi @mjzarrin! Can you show me your auth config?

[2020-04-17 06:03] mjzarrin commented on #618
Yeah, sure, Im using  "@nuxtjs/auth": "^4.9.1" and here is the auth config part in the nuxt.config.js.

    '@nuxtjs/axios',
    '@nuxtjs/dotenv',
    '@nuxtjs/auth'
  ],
 axios: {
    proxy: true
  },
  proxy: {
    '/api': 'http://localhost:3000'
  },
  auth: {
    redirect: {
      callback: '/callback',
      logout: '/signed-out'
    },
    strategies: {
      local: {
        token: {

[2020-04-17 06:16] JoaoPedroAS51 commented on #618
Thanks! So, you are receiving this error because this config is from dev branch that will be used for v5.

For v4.9.1 you should follow this [demo](https://github.com/nuxt-community/auth-module/tree/master/examples/demo)
[code]

**Note:** Refresh tokens aren't supported yet. If you need it for your project, then use dev branch instead of changing your config to the example above. To do so, add `"@

[2020-04-17 06:34] mjzarrin commented on #618
@JoaoPedroAS51 ,
That's works.
Thank you so much!

[2020-04-17 07:04] #618 closed

[2020-04-17 08:43] svitekpavel commented on #614
I tried with `example-auth0` repo and it works.

If I use concrete values in `nuxt.config.js` (and not `process.env.AUTH_*`) then it works also after build. So I guess the problem is either that `dotenv` is not called correctly or the `.env` file is not found while building app. I will investigate further.

[2020-04-17 08:54] svitekpavel commented on #614
I was able to resolve the problem by including `require('dotenv').config()` at the top of `nuxt.config.js`.

I thought the`dotenv` is already loaded by then. Now it works fine.

[2020-04-17 08:54] #614 closed

[2020-04-17 08:55] svitekpavel commented on #614
I tried with `example-auth0` repo and it works.

If I use concrete values in `nuxt.config.js` (and not `process.env.AUTH_*`) then it works also after build. So I guess the problem is either that `dotenv` is not called correctly or the `.env` file is not found while building app. I will investigate further.

Update:
I was able to resolve the problem by including `require('dotenv').config()` at the

[2020-04-17 09:01] svitekpavel commented on #614
One more note:
The whole confusing part is that in `server/index.ts`, before line
`const config = require('../nuxt.config.js`)`

There is `require('dotenv').config()` and this works when running `npm run dev`.

But for `npm run build` I have to include `require('dotenv').config()` on top of `nuxt.config.js`, otherwise the attributes loaded from `process.env.AUTH0_*` are undefined.

[2020-04-17 09:06] devondahon commented on #505
Great! Thank you very much!!

[2020-04-17 11:33] Bergrebell commented on #139
still having this error ... thanks for the workaround @andreynazarov3

[2020-04-17 12:41] bramburn opened #619 "Refresh scheme not working"
### Version

[v4.9.1](https://github.com/auth-module/releases/tag/v4.9.1)

### Reproduction link

[https://www.textbin.online/TsNoZnOROV](https://www.textbin.online/TsNoZnOROV)

### Steps to reproduce

Hello,
once you setup vuex, auth and axios. If I define the `_scheme:'refresh'` it does not generate the correct code in the `auth/plugins.js` or copies over the `auth/scheme/refresh.js`
![auth-conf

[2020-04-17 12:57] JoaoPedroAS51 commented on #619
Hi! Refresh support wasn't released yet. It will be added on v5 , but you can use dev branch until then. Add `"@nuxtjs/auth": "nuxt-community/auth-module#dev"` to your `package.json`.

You can see the new docs at https://dev.auth.nuxtjs.org/

[2020-04-17 13:04] bramburn commented on #619
haha! I'm such an idiot!?!!!!!
thanks just done so i'll play around with it later.
Regards,

B.Ramburn BSc LLM#
Snr. Quantity Surveyor

On Fri, 17 Apr 2020 at 13:57, João Pedro Antunes Silva <
notifications@github.com> wrote:

[2020-04-17 14:03] #619 closed

[2020-04-18 00:47] #612 closed

[2020-04-18 12:23] #610 closed

[2020-04-18 14:13] lifenautjoe commented on #286
Trying to spawn a fresh weekend project with Nuxt here and stumbling on this after running `npx create-nuxt-app`

[2020-04-18 14:20] bramburn commented on #286
You neeed more ram

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Joel Hernández <notifications@github.com>
Sent: Saturday, April 18, 2020 3:13:32 PM
To: nuxt-community/auth-module <auth-module@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nuxt-community/auth-module] Javascript heap out of memory (#286)

Trying to spawn a fresh

[2020-04-18 17:21] lifenautjoe commented on #286
No, I didn't.

I changed the mode from `universal` to `spa`, ran it and this allowed me to see that there was a recursion error on Vue. Fixed it and everything works again.

Would be useful to have a descriptive error on this on universal mode.

[2020-04-18 21:50] DudaevAR opened #623 "Registration and password recovery"
### What problem does this feature solve?

Single interface for registration, login and password recovery.
Now you need to send a second request for login after registration.
But tokens can come already at registration/password recovery.

### What does the proposed changes look like?

it doesn't look complicated:
- add new endpoints
- reuse login logic
These methods will differ from login only by

[2020-04-19 00:58] wilfredinni commented on #58
same on 4.9.1, really frustrating

[2020-04-19 01:05] wilfredinni opened #625 "Can't get the user after successfully getting the token"
### Version

[v4.9.1](https://github.com/auth-module/releases/tag/v4.9.1)

### Reproduction link

[https://jsfiddle.net/j6bw03hg/](https://jsfiddle.net/j6bw03hg/)

### Steps to reproduce

just login

### What is expected ?

redirect to the homepage and retrieve the user

### What is actually happening?

it gets the auth token, but when trying to access the user it does not pass the credentials (to

[2020-04-19 12:46] mkstix6 commented on #210
@craigPeckett and @ankitarora05, our code still includes @olibia 's suggestion above.
If I remove that code I immediately start experiencing issues with repeat logins again.

Thank you @olibia .

Just wanted to note that some of our package versions are a little old now:
nuxt                   2.10.1
@nuxtjs/auth     4.9.0

[2020-04-19 23:09] #625 closed

[2020-04-20 06:34] ballonura commented on #286
Any updates here ?

[2020-04-20 06:39] ballonura commented on #286
Save my life, thx.

[2020-04-20 10:44] bramburn commented on #623
i think this is beyond the scope of the Auth. Auth is only for authentication, as each system or app would have their own password recovery method, email, secret key, etc...

[2020-04-20 11:29] DudaevAR commented on #623
Is there a way to customize scheme without fork?

[2020-04-20 11:32] bramburn commented on #623
can you explain the step by step or draw a flow diagram that shows the password recovery? most Auth backend does not provide password recovery using the same api endpoint.

[2020-04-20 11:47] klukiyan commented on #266
@anhducbkhn  did you resolve it anyhow?
i'm stuck with the same crap :(

[2020-04-20 14:41] bramburn opened #632 "Each Scheme's user detail under $auth.user['schemeName']"
### What problem does this feature solve?

Most login may have 1 user with many social platforms.

[code]

currently the auth allows for 1 user and 1 platform access via $auth.user

Would it not be beneficial to allow access to further information such as Display pic, stats or handler name from different platform accessible?
So app owners could use $auth.user['facebook'] to gain access then.

###

[2020-04-21 12:08] simplenotezy opened #635 "Auth /me call blocks rendering of content"
### Version

[v4.8.5](https://github.com/auth-module/releases/tag/v4.8.5)

### Reproduction link

[https://v2.thejewelleryroom.com/product/rebecca-ring](https://v2.thejewelleryroom.com/product/rebecca-ring)

### Steps to reproduce

I have noticed that the /me call produced by "fetchUser". This line:

	  async fetchUser (endpoint) {
	    // Token is required but not available
	    if (this.options.

[2020-04-22 06:52] jasonlyu123 commented on #607
[example repo](https://github.com/jasonlyu123/nuxt-auth-false-example)

[2020-04-22 09:21] ionut-tanasa commented on #616
I just literally stumbled upon this issue.

Any workarounds in the meanwhile?

[2020-04-22 12:02] IvanBernatovic commented on #478
This was happening to me on every environment but only on new browser session. By default, cookies are deleted on session end. You have to set maxAge property of the cookie object to avoid cookie deleting after browser is closed.

[2020-04-22 14:47] wedwardbeck commented on #616
The current workaround is to just use the axios call and not the auth
module. I haven't worked on updating the auth store as it would be done in
the auth module, but am hoping that can be done so reverting to use auth
fully once fixed will not be a chore.

On Wed, Apr 22, 2020 at 4:21 AM Ionut Tanasa <notifications@github.com>
wrote:

[2020-04-22 15:20] JoaoPedroAS51 commented on #616
Hi @wedwardbeck! I tested your reproduction repo. You can simple pass the `FormData` to `loginWith` as you did in axios.

[code]

[2020-04-23 08:25] besteinert commented on #328
As a direct follow-up to the comment of @madmonkey , the following changes in the file *app/.nuxt/auth/schemes/oauth2.js* seem to enable for the use of PKCE in the Authorization Code Flow (tested with Keycloak):

    export default class Oauth2Scheme {
        ...
        async login(){
            ...

            // Set code_challenge_method value if provided in the options
            if (this.

[2020-04-23 10:08] bramburn commented on #635
maybe an async is not setup somewhere that's generating this error. I had something similar with something else last night.

[2020-04-23 11:54] pawel-marciniak commented on #550
Same issue here... Can this be even fixed?

[2020-04-23 14:25] yatkolenko commented on #286
What errors did you see ? I have the same issue, but when i have changed mode, it just started work well, but in SSR mode i still have this problem

[2020-04-23 14:59] buremba commented on #286
The mode is `spa` in our project and the error doesn't go away even when we increase the `node --max-old-space-size=4096`. We started seeing the error when we upgraded the Nuxt to the latest release.

[2020-04-23 16:19] yatkolenko commented on #286
I found that this problem happens after upgrading next to 2.12.2 version, i installed version 2.10 and it works fine.

[2020-04-23 16:21] buremba commented on #286
@yatkolenko yes, we wanted to upgrade Nuxt from 2.10 as well but after a few hours of trying to find a way to fix the problem, I gave up and reverted to 2.10

[2020-04-24 07:37] yatkolenko commented on #286
@buremba The same problem...

[2020-04-24 11:32] jasonlyu123 commented on #607
I read though the middleware section of the doc again. I guess this is the expected behavior. I'll just make a PR to make it more clear.

[2020-04-24 11:49] 1shaked opened #640 "can not get the token"
i used nuxt auth for my project and i have two problems
the first is with the auth in nuxt.config.js which not getting the token
i used propertyName and token as i will show below

[code]
i also tried diffrent syntax
[code]
but both of them could not get the token.
i had to do this manually by doing
[code]
i even try to recreate the project and just try the login functionality but both did not got

[2020-04-24 11:52] JoaoPedroAS51 commented on #640
Hi @1shaked! Try to set token property to `access` without the `data.`

[2020-04-24 13:00] 1shaked commented on #640
OK thx it is working when i am using the access without the data buu only when i am using properyName not when i am using the property object.
thanks alot.

[2020-04-24 13:00] #640 closed

[2020-04-24 13:03] JoaoPedroAS51 commented on #640
That's because property object is for v5 that wasn't released yet. `propertyName` is for v4

[2020-04-24 18:58] Calion54 opened #642 "Got error when install from branch dev v5"
### Version

Dev v5

### Steps to reproduce

When I install the modules from the dev branch, I put this one in my package.json and I run npm i
[code]

In my nuxt.config.js. I put :
<img width="259" alt="Capture d’écran 2020-04-24 à 8 56 58 PM" src="https://user-images.githubusercontent.com/15995915/80247319-25632300-866e-11ea-8781-f313cc955a83.png">

### What is expected ?

![Capture d’écran 20

[2020-04-24 20:28] pi0 commented on #642
Hi @Calion54 It is because we migrated to typescript. Will add CI/CD script to publish nightly versions

[2020-04-24 20:35] saniales commented on #285
I add another contribute, you actually get the token by using the function @levivi used, but with the strategy name, not "local" only

example, if your strategy is "auth0" you have to use `this.$auth.getToken('auth0')`

[2020-04-24 20:53] aunderwo commented on #286
Sample problem

[2020-04-24 22:15] #600 closed

[2020-04-25 08:40] sarfarazengglb opened #646 "Error in loading latest build"
Compiled successfully but unable to run

Failed to show Nuxt.js app after 5 reloads
Your Nuxt.js app could not be shown even though the webpack build appears to have finished.

Try to reload the page manually, if this problem persists try to restart your Nuxt.js dev server.

[2020-04-25 12:00] Calion54 commented on #642
Hi @pi0 thanks for you answer. Do you have a date for it to be operational?

[2020-04-25 13:36] menthol commented on #646
install `#ab927f6557124802003f87a8c5da9af905ea94bd` instead of `#dev`

ex:
[code]

[2020-04-25 13:37] menthol commented on #642
install `#ab927f6557124802003f87a8c5da9af905ea94bd` instead of `#dev`

ex:
[code]

[2020-04-25 13:45] Calion54 commented on #642
Thanks you so much @menthol. I will use this version for now.

[2020-04-25 15:02] codeofsumit commented on #424
@JoaoPedroAS51 is there an outlook when v5 is expected? Really looking forward to it 🙌

[2020-04-25 15:15] sarfarazengglb commented on #646
after adding it is working thanks

[2020-04-25 15:15] #646 closed

[2020-04-25 15:17] sarfarazengglb opened #647 "Layout not working with Auth Module"
Dynamic Layout not working with Auth Module.If i disable it it is working.

Case:
I added register.vue and asigned it with admin layout however it is still inheriting default latout

[2020-04-25 16:01] #647 closed

[2020-04-26 09:41] la-jamesh commented on #437
@namanyayg could you be more specific on the config you added for axios proxy. I added the proxy module and set the axios proxy config to true and kept my app at universal and it is still not working.

[2020-04-26 10:12] ianmurrays commented on #340
You need to install the axios module as well:

[code]

[2020-04-26 10:14] hktr92 commented on #574
I have managed to "reverse-engineer" this part of functionality. All you have to do in your login endpoint is to:
- check if user exists
- check if password is valid and matches
- if you're using authentication token / api token: generate a new token / register device / whatevs (advanced case)

the return part depends on what you want to use in your frontend:
- you can either use [a single key fro

[2020-04-26 10:32] hktr92 commented on #478
which... doesn't work for me in universal mode. the cookies are set anyways without `maxAge` (the `expires` field doesn't affect it either).

what i've defined in code:
![image](https://user-images.githubusercontent.com/7689151/80304858-8bac8a80-87c1-11ea-9559-07fda679937b.png)

and what do I get:
![image](https://user-images.githubusercontent.com/7689151/80304917-0a092c80-87c2-11ea-8660-70c35b6b1

[2020-04-26 16:24] IvanBernatovic commented on #478
@hktr92 Based on your screenshot it seems that you're setting your cookie options wrong. Based on the [docs](https://auth.nuxtjs.org/api/options.html#cookie), you should place most of your settings in `auth.cookie.options` object, not directly in cookie object.

[2020-04-27 17:45] MrJmpl3 commented on #513
You need create new route in your backend and use with local scheme.

The Laravel Passport example is when the people don't want create new route.

[2020-04-27 18:25] MrJmpl3 commented on #437
I see the code to find the bug, and think this part of code interesting in the config 🤔

[code]

[2020-04-27 18:45] wedwardbeck commented on #616
@JoaoPedroAS51 thank you! That was the fix to get working - sorry I thought I had tried that variation.
Thanks again for the help.

[2020-04-27 18:45] #616 closed

[2020-04-28 00:21] MrJmpl3 commented on #437
@cantoute @mjzarrin @la-jamesh

I made this video to test the module and see all normal. If your have some config to test or fix, send me here or in private @MrJmpl3 in Twitter, to made another video

https://www.youtube.com/watch?v=uYZBoCDMZ4I&feature=youtu.be

[2020-04-28 04:23] pisethx opened #650 "Cookie's maxAge reset every refresh"
The auth._token.local in cookie has maxAge of 24h. However, every browser's refreshes would set it to the next 24h. I expect it to persist for 24h and not for 24h since the website last reloads.

nuxt.config.js

`auth: {
    localStorage: false,
    cookie: {
      options: {
        maxAge: 60 * 60 * 24
        // secure: true
      }
    },
    strategies: {
      local: {
        endpoints: {

[2020-04-28 04:30] MrJmpl3 commented on #635
Please, update the module and check if this error persists.

[2020-04-28 04:31] MrJmpl3 commented on #623
I saw the scheme custom in the docs:

https://auth.nuxtjs.org/guide/scheme.html

[2020-04-28 04:37] MrJmpl3 commented on #607
I think, the `auth: false` is unneccesary in the docs.

- If you don't need auth in page, don't add the middleware
- If you need only guest, add `auth: 'guest'`

Why exists `auth: false`?

[2020-04-28 04:43] MrJmpl3 commented on #605
I don't understand this, can upload some examples of the code?

I think use axios interceptors

[2020-04-28 05:11] jasonlyu123 commented on #607
Agree, `auth: guest` should be preferred. `auth: false` should not exist or should only be used in edge cases. It confused me a lot.

[2020-04-28 06:50] thhan commented on #513
And when I create a standalone vue app without laravel in this project? The example is the right example. Your solution should be used, if you have two laravel instances. One for the authentication and one for the app.

[2020-04-28 07:12] felipe-muner commented on #399
I have the same issue...

How can we fix it?

[2020-04-28 08:14] rancou commented on #283
It's been more than a year and no one still adds this feature?

[2020-04-28 08:26] ckcollab commented on #283
You're welcome to implement it @rancou ;)

[2020-04-28 08:29] rancou commented on #283
Would be great. Don't think im qualified, though. I'm still fairly a beginner.

[2020-04-28 09:01] MrJmpl3 commented on #513
Not exactly. I have one instance of Laravel.

[code]

[2020-04-28 10:52] thhan commented on #513
The program is not allowed to ask for the username and password. Only the oAuth service (google.com, facebook.com or your laravel-instance with passport) is allowed to do this.

Have a look at the specification of oAuth2. (https://youtu.be/CPbvxxslDTU)

[2020-04-28 11:10] JoaoPedroAS51 commented on #283
Hey guys! I can work on this feature ;)

[2020-04-28 11:19] radudiaconu0 opened #651 "How install dev branch on nuxt?"
How install dev branch on nuxt?

[2020-04-28 11:21] JoaoPedroAS51 commented on #651
Hi @radudiaconu0! @pi0 will add CI/CD script to publish nightly versions.

[2020-04-28 11:22] radudiaconu0 commented on #651
Thanks :)

[2020-04-28 14:17] Spiegel1039 commented on #478
set the login property under redirect to false in nuxt.config.js

[2020-04-28 14:59] piotrkulpinski commented on #590
@devondahon Did you manage to fix the issue? I'm having a similar issue and wondering how did you solve it.

[2020-04-28 15:11] felipe-muner commented on #561
Hello guys, amazing job here.

I have one more question about the behaviour of the fetch user, down below you can check my nuxt.config.js: I read and I know that `autoFetchUser:false` just cancel the request after login. Maybe it's my wrong understand.. I would like to know, what's the point to have a endpoint user if I get all this information inside endpoints login.

To stop get error on request

[2020-04-28 15:14] JoaoPedroAS51 commented on #590
Hi @piotrkulpinski! Can you show me your auth config?

[2020-04-28 15:20] JoaoPedroAS51 commented on #561
Hi @felipe-muner!

The user endpoint is used to fetch the user if you refresh the page when logged. User data don't persist in storage.

To disable user endpoint, set it to `false`

[2020-04-28 15:37] devondahon commented on #590
@piotrkulpinski Yes, I finally fixed it thanks to @pi0 and @JoaoPedroAS51. You can check my config and help from @JoaoPedroAS51 in [this post](https://github.com/nuxt-community/auth-module/issues/505).

[2020-04-28 16:09] Yohannfra commented on #286
I'm having the problem, does anyone have a solution ?

[code]

[2020-04-28 16:18] Osterpiegl commented on #485
@DjustinK did it also work in "universal" mode? In my case adding "/" at the end of the callback url only fixes it in "spa" mode. Is there a reason for it?

[2020-04-28 16:44] felipe-muner commented on #561
Joao,

are you Brazilian? Me too kkkk but currently I'm travelling and I'm at Hanoi in Viet Nam.

Ok, I got you,  even before the login(first page loaded) the system add the token to the authorization header(storaged inside thelocalstorage) and then call the user route(set up in nuxt.config.js). is it right? Ok then I go to the back-end(in my case node and I check with the Jwt.verify to validate t

[2020-04-28 18:05] JoaoPedroAS51 commented on #561
Sou sim! :)
Bah q legal, como é ai?

Quando você carrega a página ele sincroniza o token e o adiciona ao `Authorization` header, porém se o usuário não está logado, o token deve estar como `undefined` ou `false`. Se estiver assim, ele não irá definir o header e também não irá chamar a rota do usuário até que o usuário esteja logado.

Isso, você checa se o token é valido. Se for, retorna o usuário.

[2020-04-28 18:11] felipe-muner commented on #561
Já to morto aqui irmãozinho, muito obrigado mesmo por todo seu tempo e explicação detalhada.

Eu já to salvando o usuário após login na store.. tudo funcionou legal.. Minha dúvida é em relação essa chamada para a rota user antes do login. Amanhã vejo melhor, grande abraço.

Vou descansar e amanhã volto aqui pra enfrentar a fera. Eu to sem programar há 2 anos e venho viajando pela Europa e Asia...

[2020-04-28 18:13] JoaoPedroAS51 commented on #561
Blz. Pode me adicionar no discord `Joao Pedro AS51#1284`

[2020-04-28 18:27] felipe-muner commented on #561
Veja se foi... Sou o:

felipe.muner#0336

[2020-04-28 18:32] JoaoPedroAS51 commented on #561
Foi, já aceitei :)

[2020-04-28 18:47] JoaoPedroAS51 commented on #651
Hi @radudiaconu0! Now you can use `@nuxtjs/auth-next` to install dev branch :)

[2020-04-28 18:48] JoaoPedroAS51 commented on #642
Hey guys! Now dev branch can be installed using `@nuxtjs/auth-next` :)

[2020-04-28 19:03] radudiaconu0 commented on #651
Thanks dude. I will mention you when I become millionere

[2020-04-28 19:27] radudiaconu0 commented on #651
@JoaoPedroAS51
i get this error;( when run npm run dev
Error: Template src not found: /home/radu/Desktop/logintest/node_modules/@nuxtjs/auth-next/templates/plugin.js   │

[2020-04-28 19:35] radudiaconu0 commented on #642
i get this error now =(
Template src not found: /home/radu/Desktop/logintest/node_modules/@nuxtjs/auth-next/templates/plugin.js

[2020-04-28 19:40] radudiaconu0 commented on #651
@JoaoPedroAS51  you must put the template folder in npm.this solved the issue

[2020-04-28 19:52] JoaoPedroAS51 commented on #651
@radudiaconu0 Done. Just wait a sec to CI publish.

[2020-04-28 19:53] JoaoPedroAS51 commented on #642
Solved. ;)

[2020-04-28 22:36] Romagod commented on #437
This is not a good idea, but it works for me:
`this.$auth.redirect("home", true)`

[2020-04-29 02:30] MrJmpl3 commented on #513
Oh you use it as OAuth2, I thought you were writing about password tokens because password tokens are used more in frontend by same developer.

Anyway, the developers already answered you.

[2020-04-29 07:22] schlunsen commented on #92
This issue being closed an the authors response is shocking me to my bones

[2020-04-29 11:04] radudiaconu0 commented on #651
@JoaoPedroAS51  i have a big problem. after successfully login end redirect to home (ith middleware:auth set) after refresh i cant acces home route anymore it keeps redirect me to login. what should i do?=(

[2020-04-29 13:04] JoaoPedroAS51 commented on #651
@radudiaconu0 Can you show me your config?

Ah, don't forget to use `$auth.loggedIn` instead of `$auth.check`, because we reverted this change.

[2020-04-29 13:07] janswist commented on #286
I had similar problem while also using `proxy` module with `pathRewrite: { '^/api/': '/' }`.

That was the problematic line: `user: { url: '/profile', method: 'get', propertyName: false }` and the only thing that fixed it was adding `/api` prefix so url will be `/api/profile`.

As for me it should spit error and not make all the app crash altogether. I'm a bit scared to use it further to be honest

[2020-04-29 13:14] radudiaconu0 commented on #651
@JoaoPedroAS51 I have just middleware auth all routes and guest on login .

[2020-04-29 13:15] radudiaconu0 commented on #651
@JoaoPedroAS51  is m doing something wrong?

[2020-04-29 13:36] srxa commented on #651
![Screenshot 2020-04-29 15 35 59](https://user-images.githubusercontent.com/11848079/80602242-28279480-8a2f-11ea-9e47-9cc411af1a6f.png)

How ti fix this error?

[2020-04-29 13:40] JoaoPedroAS51 commented on #651
@srxa This means that the strategy doesn't have a scheme. Can you show me your auth config?

[2020-04-29 13:44] JoaoPedroAS51 commented on #651
I'll make it throw an error if this happens :)

[2020-04-29 13:45] srxa commented on #651
[code]

[2020-04-29 13:46] JoaoPedroAS51 commented on #651
Ok, I see where is the error. Now to set schemes we use `scheme` instead of `_scheme`. Change to `scheme: 'oauth2'`

[2020-04-29 13:47] srxa commented on #651
OK, Thanks

[2020-04-29 14:06] JoaoPedroAS51 commented on #651
@radudiaconu0 I'm testing here and I have the same issue. I'll work on a fix. :)

[2020-04-29 14:07] radudiaconu0 commented on #651
Thanks bro

[2020-04-29 16:29] radudiaconu0 commented on #651
@JoaoPedroAS51 how it works?

[2020-04-29 18:41] #623 closed

[2020-04-30 02:47] ronelvcabrera commented on #53
Good GOD your a hero

[2020-04-30 05:51] radudiaconu0 commented on #651
@JoaoPedroAS51  how the fix works?

[2020-04-30 12:38] radudiaconu0 opened #653 "keep redirecting me to login after refresh"
after successfully login and redirect to /home (with middleware:auth set) after refresh i cant acces home route anymore it keeps redirect me to login.i use laravel sanctum

[2020-04-30 14:29] JoaoPedroAS51 commented on #651
@radudiaconu0 Seems that Laravel Sanctum requires `referer` header in SSR request to authorize the request. The fix will set `referer` header on mount. #654

[2020-04-30 14:30] JoaoPedroAS51 commented on #653
Hi @radudiaconu0! Fix on #654

[2020-04-30 14:32] radudiaconu0 commented on #653
Thanks bro

[2020-04-30 14:32] JoaoPedroAS51 commented on #653
Are you able to access /home in client side? Because in my tests I'm redirected to login after refresh, but then in client side I'm logged in again.

[2020-04-30 14:33] radudiaconu0 commented on #653
I am glad I can help

[2020-04-30 14:33] JoaoPedroAS51 commented on #653
If this issue persist after we merge the PR, let me know.

[2020-04-30 14:53] radudiaconu0 commented on #651
Still doesn't work @JoaoPedroAS51

[2020-04-30 14:55] JoaoPedroAS51 commented on #651
@radudiaconu0 It wasn't merged yet.

[2020-04-30 15:01] simplenotezy commented on #635
I have just updated, unfortunately it still happens :/

Check here: https://v2.thejewelleryroom.com/product/offspring-ring-2

[2020-04-30 15:01] radudiaconu0 commented on #651
@JoaoPedroAS51  ok thanks

[2020-04-30 16:14] radudiaconu0 commented on #653
sure

[2020-04-30 16:32] radudiaconu0 commented on #653
@JoaoPedroAS51 i can confirm that it works;) thank you for your work

[2020-04-30 16:37] radudiaconu0 commented on #653
i can confirm it works. thanks;)

[2020-04-30 16:46] MrJmpl3 commented on #635
Interesting , The console stuck in "Making API get request to  /wp/v2/users/me  params" , @simplenotezy don't have a editable example? Like codepen to isolate the problem?

[2020-04-30 18:07] ThisIsAreku opened #655 "access_token_endpoint ignore configured baseURL"
### Version

[v4.9.1](https://github.com/auth-module/releases/tag/v4.9.1)

### Reproduction link

[https://github.com/ThisIsAreku/nuxt-auth-baseurl-bugreport](https://github.com/ThisIsAreku/nuxt-auth-baseurl-bugreport)

### Steps to reproduce

Configure a prefix in nuxt-axios and a proxy rule:
[code]

Configure facebook strategy to forward the code to the backend:
[code]

### What is expected ?

W

[2020-04-30 18:39] cardaddy commented on #642
Hi guys, I'm getting the following error when trying to load from dev.

 ✖ Nuxt Fatal Error                                                                                                   │
   │                                                                                                                        │
   │   Error: Module `@nuxtjs/auth-next` not found. Please ensure `@nuxtjs/auth-ne

[2020-04-30 18:43] JoaoPedroAS51 commented on #642
Hi @cardaddy! This error is because you're setting to dev branch instead of a version. Use `npm install @nuxtjs/auth-next --save` or `yarn add @nuxtjs/auth-next` to get the latest version.

[2020-04-30 18:51] radudiaconu0 commented on #653
@JoaoPedroAS51 You have any idea how can I use @nuxtjs/laravel-echo with sanctum in this module?

[2020-04-30 19:17] cardaddy commented on #642
Hi @JoaoPedroAS51, I don't appear to be seeing the auth/core/ packages in the .nuxt folder, am I missing a step? I'm using modules @nuxtjs/auth-next`` along with the npm install. I see auth-next in node_modules along with the files nested within dist.

[2020-04-30 20:11] JoaoPedroAS51 commented on #642
@cardaddy In v5 we don't move core files to .nuxt anymore.

[2020-04-30 20:27] cardaddy commented on #642
@JoaoPedroAS51 I guess that would explain why I can't find it. I'm trying to use this code, https://github.com/nuxt-community/auth-module/blob/dev/docs/schemes/oauth2.md however it doesn't appear to be in the current production version. Should I create a new issue?

[2020-04-30 20:30] JoaoPedroAS51 commented on #642
You can use it. What are you trying to use `oauth2` scheme or create a custom scheme that extends `oauth2` scheme?

[2020-04-30 20:33] JoaoPedroAS51 commented on #642
Can you show me your auth config?

[2020-04-30 20:42] cardaddy commented on #642
oauth2. I needed the token refresh capability and when using the strategy below I was getting undefined with the endpoints in v4.9.1. After looking at the oauth module in v4.9.1 I didn't see the updated oauth2 code. I attempted using the dev version, but ran into a different issue where it's attempting to want to set the grant type as implicit. Any suggestions?

[code]

[2020-04-30 20:49] ohidere commented on #258
- [ ]

Hi there.
I'm facing the same issues and I've been looking around everywhere for this baseURL setting. Aside from my `nuxt.config.js` file, I can't seem to find this property.

Could you please tell me where you found the setting?

[2020-05-01 09:02] shayani commented on #605
The gem Simple Token Authentication, for Rails + Devise requires 2 infos: `user_token` and `user_email` in headers.
Does Axios Interceptors can add a new header to the request?

[2020-05-01 10:28] simplenotezy commented on #635
@MrJmpl3 yeah you should see that console message if you are logged in (e.g. created a test account). If you are not logged in though, it shouldn't appear. It's just a simple onRequest method for debugging purposes:

	$axios.onRequest((config) => {
		console.log('Making API ' + config.method + ' request to ', config.url, ' params ', config.params);
	});

I'm sorry, but I don't have a codepen. I co

[2020-05-01 12:24] simplenotezy commented on #635
Hmm.. I noticed I had wrapped a lot of parts of the product page inside <client-only> which was causing the delay. Still weird that the /me would block the rendering of the <client-only> contents. Like the client-only content would first get loaded once /me call has completed.

[2020-05-01 14:10] cardaddy commented on #642
@JoaoPedroAS51 I was able to resolve my issues and get things working. Any time table when v5 will make it's way into a stable release? Also is there any sort of auto logout function with the oauth2 scheme? Thanks for the help.

[2020-05-01 14:32] JoaoPedroAS51 commented on #642
Hi @cardaddy! I'm happy to know you were able to solve the issue! Can you tell me what happened? :)

We are working hard to release v5 as soon as possible. I can't tell you a date yet, but as soon as we release I let you know. We are currently working on PKCE support and Ky integration.

Oauth2 scheme don't have auto logout, but that's a good idea! I'll implement that. ;)

[2020-05-01 14:49] cardaddy commented on #642
@JoaoPedroAS51 I had responseType set to token rather than code and our frontend developer had a bug in his security code on the landing page. Does localStorage do anything anymore? New configuration that works perfectly, see below.

[code]
Any issues using the dev version in a prod env now? We just really need to refresh token.

Auto logout would be really nice when the refresh token expires. Tha

[2020-05-01 15:13] JoaoPedroAS51 commented on #642
@cardaddy Thanks!

We sync storage data between localStorage and cookies. But it's optional.
Cookies are required for SSR projects as we can't access localStorage in Server Side.
localStorage is mostly used for SPA projects that don't want cookies.

I didn't test the latest versions in prod env yet. I'll make some test soon and let you know.

[2020-05-01 15:41] JoaoPedroAS51 commented on #605
Hi @shayani! Yes, you can add a new header to the request using Axios Interceptors.

Something like this:
[code]

Alternatively you can add a new header using axios `setHeader`.
`this.$axios.setHeader('user_email', 'your@email.com')`.

[2020-05-01 15:56] radudiaconu0 commented on #651
@JoaoPedroAS51 do you have any idea how i can use sanctum with laravel echo? i get error 419.... i use laravel echo module for nuxt

[2020-05-01 16:12] cardaddy commented on #642
@JoaoPedroAS51 keep me posted on the auto logout feature as well. Thank you!

[2020-05-01 16:16] JoaoPedroAS51 commented on #642
@cardaddy Just opened the PR #657

[2020-05-01 16:21] radudiaconu0 opened #658 "work with sanctum and laravele echo module"
i have an issue....I can't use auth module with sanctum and laravel echo module...it says $auth.getToken is not o function in console from echo module...I tried some workaround to get token from cookies but still doesn't work.....I get error 419 in laravel echo server csrf token missmatch.....so I don't know what to do...I tried to find a solution on Google and documentation but still nothing...

[2020-05-01 16:22] radudiaconu0 commented on #658
I don't know if this issue is related with this module or @nuxtjs/laravel-echo module

[2020-05-01 16:25] JoaoPedroAS51 commented on #658
Hi @radudiaconu0!

That's because `$auth.getToken` was removed in v5. Now we get the token using `$auth.token.get()`
Laravel echo module need to add support to v5.

[2020-05-01 16:26] radudiaconu0 commented on #658
Ok thanks I will try to modify this on laravel echo module

[2020-05-01 16:27] JoaoPedroAS51 commented on #658
I can make a fork

[2020-05-01 16:37] JoaoPedroAS51 commented on #658
@radudiaconu0 You can use my fork https://github.com/JoaoPedroAS51/laravel-echo/tree/feat/auth-v5

Can you test it? I'm not sure if this solves 419 csrf token mismatch

[2020-05-01 16:37] radudiaconu0 commented on #658
Hmmm I will try @JoaoPedroAS51

[2020-05-01 16:39] radudiaconu0 commented on #658
you must introduce referer header @JoaoPedroAS51

[2020-05-01 16:41] radudiaconu0 commented on #658
yeah didn't solve the issue=(

[2020-05-01 16:42] JoaoPedroAS51 commented on #658
Are you sure? The plugin is client side only and referer is only need for server side.

[2020-05-01 16:45] radudiaconu0 commented on #658
if i don't specify refere header onlaravel echoi get error 401 unauthenticated.Otherwise i get "message": "CSRF token mismatch."

[2020-05-01 16:46] JoaoPedroAS51 commented on #658
@radudiaconu0 Ok. I'll work on this today. I let you know when I finish.

[2020-05-01 16:47] radudiaconu0 commented on #658
thank dude. in the end someone who want to help me. i posted this in more forums but none cared =( i will treat you with a beer if i ever meet you =)

[2020-05-01 16:49] JoaoPedroAS51 commented on #658
Thanks! :D
Yeah it sucks when we need help and no one helps...

Ah, can you take a screenshot of the request?

[2020-05-01 16:50] JoaoPedroAS51 commented on #658
You can add me on discord Joao Pedro AS51#1284

[2020-05-01 16:51] radudiaconu0 commented on #658
yeah maybe we can fix this together

[2020-05-01 16:56] radudiaconu0 commented on #658
iget token = 200 if i call $auth.token.get()

[2020-05-01 18:50] JoaoPedroAS51 commented on #642
@cardaddy Auto logout has been merged. You can update the package :)

[2020-05-01 19:15] cardaddy commented on #642
@JoaoPedroAS51 you are the man! Thanks so much!

[2020-05-01 19:45] aaronhuisinga opened #659 "500 error when login fails with Passport password grant"
### Version
5.0-dev

### Steps to reproduce
1. Install 5.0-dev build of auth module
2. Configure Passport auth strategy using grantType of password
3. Enter invalid credentials and submit form

### What is expected ?
When logging in with invalid credentials, a 400 code should be thrown with a message from the authentication server.

### What is actually happening?
A 500 (NuxtServerError) is being

[2020-05-01 19:51] JoaoPedroAS51 commented on #659
Hi @aaronhuisinga! Thank you for your report. I'll work on a fix for this issue :)

[2020-05-02 11:49] shayani commented on #605
Thank you @JoaoPedroAS51

[2020-05-02 11:49] #605 closed

[2020-05-02 12:29] slidenerd commented on #574
I double this, I could not find an example of setting cookies and have the following doubts
- I see the documentation of nuxt-auth [HERE](https://auth.nuxtjs.org/schemes/local.html#options) what about  autoFetchUser? should I add that to cookie based flow or not
- What about the endpoint itself, what is the return object format of /api/auth/login on success and on error?
- Will using cookie-sessio

[2020-05-02 13:23] b01110011 commented on #574
i using Adonis Js as backend, there is module auth released in the box.
https://adonisjs.com/docs/4.1/installation
Recommend!

[2020-05-02 16:26] Bernix01 opened #661 "Types for @nuxtjs/auth-next"
### What problem does this feature solve?

Use `auth-next` with `nuxt-ts`.

### What does the proposed changes look like?

Maybe this is ci/cd related.

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/auth-module/issues/c561">#c561</a>)</em></sub></div>

[2020-05-03 00:35] amirakbulut commented on #485
Have you fixed this already? I get redirected to my callback page but still see that I'm not authenticated. I have to manually refresh the page for it to show me that I'm authenticated. Using SSR univarsal mode.

[2020-05-03 06:02] Osterpiegl commented on #485
@amirakbulut no unfortunately it is still not working

[2020-05-03 12:04] syskin commented on #579
+1

[2020-05-03 13:10] Fyroman commented on #437
Guys, this is _most likely_ because your user routes are not defined correctly. **Auth does not work if user object is not fetched correctly.** If you don't need user object, you have to set user route to _false_.

And you, mister Angular, in your codesandbox I don't see any routes defined.

[2020-05-03 15:16] Bernix01 commented on #485
I suggest adding the `onRedirect` and `onError` listeners for better debugging.

[2020-05-03 18:48] cantoute commented on #437
cool :)

just it took so long I gave up...

And I continue following this thread as solving this will help many avoiding same disaster I had to go threw.
And perhaps when this is solved I'll consider using nuxt on other projects :)

[2020-05-03 18:51] MrJmpl3 commented on #437
🤔 I made a video and all was correct, nobody make a comment about my video 😥

[2020-05-03 19:46] #659 closed

[2020-05-03 19:47] Fyroman commented on #437
@MrJmpl3 because @cantoute very much seems like a troll. He's trying to implement auth system **without any api routes defined.** The whole guide is in this module's docs. What the hell does he think he logs in with?

If Angular actually made it clearer to beginners how to set up an auth system, then I must say I'm surprised, because that whole framework is a clusterf***.

[2020-05-03 19:47] #653 closed

[2020-05-03 19:52] cantoute commented on #437
Thanks for the troll... taking over 6 month to have anyone knowing the framework to look at the question... and all docs available around nuxt/auth contradicts itself... fuck you very much

And that's exactly why I changed framework, because you guy call troll anyone pointing out real shit in this nuxt.

[2020-05-03 19:53] cantoute commented on #437
at least the oc matches the framework !

[2020-05-03 19:55] codeofsumit commented on #210
How can we manually clear the tokens until this is fixed? I'm using auth0

[2020-05-03 20:05] MrJmpl3 commented on #437
Please, don't fight, If this report don't help to fix the bug or the reporters don't want to help to fix, I recommend close, maybe another people create new report with more info or with more expectations in helping.

[2020-05-03 20:08] JoaoPedroAS51 commented on #210
Hi @codeofsumit! What version of auth module are you using?

[2020-05-03 20:09] la-jamesh commented on #437
revisiting this it looks like I'm only having issues when deployed to AWS via serverless/fastify. Running locally through `nuxt` in universal mode with auth0 appears to be working fine. I'll have to see where my configuration is wrong for serverless/fastify. Thanks for all the comments here.

[2020-05-03 20:20] codeofsumit commented on #210
@JoaoPedroAS51 4.9.0

[2020-05-03 20:22] pi0 commented on #437
Thanks for all helps. Closing as there are enough answers to the original question. Let's keep nuxt community a friendly place :heart:

[v5 branch](https://github.com/nuxt-community/auth-module#-v5-development) is also under heavy development and improvements including a more stable loggedIn state (#620) and many more improvements by @JoaoPedroAS51.

Please open a new issue with proper reporo in c

[2020-05-03 20:22] #437 closed

[2020-05-03 20:24] JoaoPedroAS51 commented on #210
@codeofsumit Thanks. I will make some tests and see if I can find the issue :)

You can clear the tokens using `this.$auth.setToken(false)` and `this.$auth.setRefreshToken(false)`
And to clear axios header, use `this.$axios.setHeader('Authorization', false)`

[2020-05-03 20:30] JoaoPedroAS51 commented on #659
Hi @aaronhuisinga! The fix for this issue has been merged :)
Please update the package to the latest version **5.0.0-1588537732.a13c02f**

[2020-05-03 20:36] aaronhuisinga commented on #659
Thanks so much! Just tested it out and it’s working as expected.

[2020-05-03 20:56] codeofsumit commented on #210
Thanks @JoaoPedroAS51 - this is my logout function now:

[code]

However, after returning from auth0's logout endpoint, the token is still set in axios.

![image](https://user-images.githubusercontent.com/2399810/80925588-4aa01180-8d91-11ea-85b0-71556038da85.png)

Seems like the Cookie isn't cleared
![image](https://user-images.githubusercontent.com/2399810/80925595-5ab7f100-8d91-11ea-8d26-b0999f0

[2020-05-03 22:41] pi0 commented on #210
@codeofsumit Can you try `$auth.$storage.removeUniversal('_token.auth0')`?

[2020-05-03 22:43] JoaoPedroAS51 commented on #210
@codeofsumit Oh sorry I forgot to mention that `setToken` and `setRefreshToken` requires strategy as first parameter.
`this.$auth.setToken('auth0', false)` and this.$auth.setRefreshToken(('auth0', false)

[2020-05-03 22:59] JoaoPedroAS51 commented on #210
@codeofsumit I'm testing here and seems to be working. I think an easier solution is to use `this.$auth.logout()` instead of manually remove tokens.

[code]

[2020-05-03 23:40] JoaoPedroAS51 commented on #210
Hi @mkstix6! What scheme are you using?

[2020-05-04 09:49] codeofsumit commented on #210
@JoaoPedroAS51 thanks for reminding me. I tried this in the past but somehow it wasn't working as expected so I removed it. It's working fine now and is the best solution of course ❤️
Thanks a lot.

Looking forward to the next version where tokens are refreshed 🎉

[2020-05-04 13:16] mkstix6 commented on #210
Hey, ours is configured like so (perhaps there's something weird in there):

[code]

[2020-05-04 13:51] JoaoPedroAS51 commented on #210
@mkstix6 Your config looks good to me. But I think `userinfo_endpoint` is not an option.
Also `tokenRequired` and `tokenType` don't need to be set inside `user` object. :)

What version are you using now?

Do you said that using this.$auth.strategies.local.options.endpoints.user.headers['Authorization'] = null`, solves your p

[2020-05-05 00:21] mckraemer commented on #142
The new version will also provide a schema for refresh tokens. Will it be possible to set them as httpOnly cookies here? Especially refresh tokens, which are long-lived, should not be stored just like that.

[2020-05-05 06:07] MilesWuCode opened #664 "Scheme not found"
v5
Scheme facebook wasn't found!
Scheme google wasn't found!

[2020-05-05 06:08] JoaoPedroAS51 commented on #664
Hi @MilesWuCode! Can you show me your auth config?

[2020-05-05 06:29] MilesWuCode commented on #664
i used this git: demo folder

[2020-05-05 06:32] MilesWuCode commented on #664
[code]

[2020-05-05 08:36] radudiaconu0 commented on #664
@JoaoPedroAS51  i get this error too on every scheme

[2020-05-05 08:41] radudiaconu0 commented on #664
if (builtInSchemes.includes(scheme)) {
        return '~auth/schemes/' + scheme;
    }
here you forogt to put the folder....

[2020-05-05 08:46] MilesWuCode commented on #664
@JoaoPedroAS51
node : 14.1.0
nuxt (not typescript) +  @nuxtjs/auth-next
and
[code]
show error : Scheme google wasn't found!
---
---
[code]
can run build
but...(brower) login button click not happend

[2020-05-05 08:49] MilesWuCode commented on #664
Try it
provider: 'google',
scheme: 'oauth2',
but .... on brower not working !?
# is TypeScript on your project ?

[2020-05-05 08:50] radudiaconu0 commented on #664
@JoaoPedroAS51 i thik the proble is you put providers into subfolders?
 const builtInProvider = resolve(__dirname, '../providers', provider);
    for (const _paths of [provider, builtInProvider]) {
      for (const _path of _paths)
        try {
            const m = _nuxt.resolver.requireModule(_path);
            return m.default || m;
        }
        catch (e) {
            // TODO: Check if

[2020-05-05 10:15] JoaoPedroAS51 commented on #664
Thank you for the report guys! We are going to fix this ASAP :)

[2020-05-05 12:43] amirakbulut commented on #285
When I run this, it returns something like `Bearer BlCnrFIUG3K4LNottrIkFftUoKbxIvZ-`, isn't a Bearer token meant to be much longer? I have no idea what to do with this token, can you enlighten me?

[2020-05-05 15:23] sugoidesune opened #665 ""Faulty cookie" triggers endless loop of store reloads server side."
### Version

[v4.9.1](https://github.com/auth-module/releases/tag/v4.9.1)

### Reproduction link

[https://www.cookiesaregone.com](https://www.cookiesaregone.com)

### Steps to reproduce
**EDIT:** See this issue for further cause:
https://github.com/nuxt-community/auth-module/issues/674

I am not entirely sure on the how nuxt/auth created the faulty cookie, but
after 5 hours of debugging I am 100%

[2020-05-05 17:23] mkstix6 commented on #210
- Thanks.
- I'm still on `@nuxtjs/auth 4.9.0` and `nuxt 2.10.1`.
- Yes, that code seemed to make logging in and logging out more stable once I added it a while back. Note: regarding [my recent comment](https://github.com/nuxt-community/auth-module/issues/210#issuecomment-616125714) I only quickly tried removing it and re-testing it.

[2020-05-05 18:01] JoaoPedroAS51 commented on #664
Fixed in commit 6ff915c :)

[2020-05-05 18:01] #664 closed

[2020-05-05 22:17] simplenotezy opened #666 "Authorization header is set automatically on default $axios calls"
### Version

[v4.9.1](https://github.com/auth-module/releases/tag/v4.9.1)

### Reproduction link

[https://will-come-later.com](https://will-come-later.com)

### Steps to reproduce

1. Send any $axios request. No "Authorization" header is set.
2. Login
3. Send a normal $axios request, now Authorization is set on $axios calls

### What is expected ?

No header should be set, this should be set manu

[2020-05-05 22:21] simplenotezy commented on #666
Setting `tokenRequired: false` seems to remove the bearer. Not sure when this was added though.

[2020-05-05 23:18] JoaoPedroAS51 commented on #666
Hi @simplenotezy! To disable the authorization header just add `globalToken: false` :)
I'm seeing here and this wasn't documented. I'll open a PR to add `globalToken` to local scheme docs.

[2020-05-06 02:06] hhanh00 commented on #258
https://axios.nuxtjs.org/options.html#baseurl

[2020-05-06 16:18] xeno010 commented on #478
I had the same problem with nuxt-auth and Laravel (Sanctum)
Laravel checks if the request is coming from the frontend using the referer header.  But SSR does not send a referer.

Simple solution:
[code]

[2020-05-06 18:06] saniales commented on #285
Just pass it in authorization header when you call your api

[2020-05-06 18:11] stivenramireza commented on #666
I've got a similar problem, but with oauth providers. I send a access_token from social network to my own back-end API, this validate it and response with another Bearer token.

When I need to send this token to do any function that is required to be authenticated, in the axios $post request, I send the back-end token throught headers, no social network, but I see in the "Network" section of my na

[2020-05-06 19:39] Ikanihoda opened #668 "arya ikani"
https://github.com/nuxt-community/auth-module/blob/929a349bb6c01048c8d2281aea3f0f4abb691812/lib/core/auth.js#L310

[2020-05-06 23:40] HappyStore commented on #258
The problem could appear if you define API_URL in .env file.

[2020-05-07 16:06] cardaddy opened #671 "Previous Cookies being concatenated with serializedCookie with each request"
**_Edit to simplify test scenario_**

We are experiencing the following error while attempting to make multiple api request. See below for reproducible scenarios. **_This only appears to happen when fetchOnServer is set to true._**

We are using the following versions

**index.vue**

We are hard coding three news items where each one would make a unique request to the backend api.

Scenarios

1) W

[2020-05-07 16:24] gavyn430 opened #672 "Facebook"
https://github.com/nuxt-community/auth-module/blob/ec573e948bcaa37d5acf6358754fce2e2ba2b48c/lib/providers/facebook.js#L3

[2020-05-08 06:15] gkkirilov commented on #72
Any update on this one?
Or is there a more straightforward solution with [vuex-persistedstate](https://www.npmjs.com/package/vuex-persistedstate)?

[2020-05-08 09:27] sugoidesune opened #673 "cookie: false, but cookies still get set!"
### Version

[v4.9.1](https://github.com/auth-module/releases/tag/v4.9.1)

### Reproduction link

[https://eqdnq.sse.codesandbox.io/](https://eqdnq.sse.codesandbox.io/)

### Steps to reproduce

1. Delete all Cookies.
2. Press Login Button.
3. Cookies are set by loginWith

full codesandbox: https://codesandbox.io/s/nuxt-auth-autofetchuser-not-working-eqdnq?file=/nuxt.config.js

### What is expected

[2020-05-08 09:42] sugoidesune opened #674 "autoFetchUser: false, but auth-module is still trying to fetch user."
### Version

[v4.9.1](https://github.com/auth-module/releases/tag/v4.9.1)

### Reproduction link

[https://codesandbox.io/s/nuxt-auth-autofetchuser-not-working-eqdnq](https://codesandbox.io/s/nuxt-auth-autofetchuser-not-working-eqdnq)

### Steps to reproduce

1. Press Login Button. ![Anmerkung 2020-05-08 113123.jpg](https://cmty.s3.eu-west-1.amazonaws.com/102371998/c2ab5740-910e-11ea-a913-f1326830

[2020-05-08 09:53] #665 closed

[2020-05-08 09:53] sugoidesune commented on #665
EDIT: See this issue for further cause:
#674

[2020-05-08 09:55] sugoidesune opened #675 "Setting any cookie options breaks webpack"
### Version

[v4.9.1](https://github.com/auth-module/releases/tag/v4.9.1)

### Reproduction link

https://codesandbox.io/s/nuxt-auth-setting-any-cookie-options-breaks-webpack-4golb?file=/nuxt.config.js

### Steps to reproduce

1. Set cookie setting to an object.
(2. To fix, comment the cookie option.)

### What is expected ?

Cookie options are being read and work.

### What is actually happening?

[2020-05-08 11:38] sugoidesune opened #676 "$auth.loggedIn stays false after loginWith('local')."
### Version

[v4.9.1](https://github.com/auth-module/releases/tag/v4.9.1)

### Reproduction link

[https://codesandbox.io/s/nuxt-auth-autofetchuser-not-working-eqdnq](https://codesandbox.io/s/nuxt-auth-autofetchuser-not-working-eqdnq)

### Steps to reproduce

1. Login with loginwith.

### What is expected ?

After a succesful loginWith() call, $auth.loggedIn should switch to true.

### What is act

[2020-05-08 13:27] FelipeBohnertPaetzold commented on #286
In my case, this is because `nuxt.config.js` does not have access to` .env`.

The solution was simple, but difficult to find due to the confusing documentation.

In the last lines of `README.md` in the module @ nuxt / dotenv (https://github.com/nuxt-community/dotenv-module) it is explained how to use` .env`.

So it was enough to add this to `nuxt.config.js`

`` js
require ('dotenv'). config ()
``

[2020-05-08 14:29] JoaoPedroAS51 commented on #673
Hi @sugoidesune! I'm seeing your codesandbox. This issue is happening because `cookie: false` was set inside `strategies` object. It should be set in `auth` object. :)

[2020-05-08 14:36] JoaoPedroAS51 commented on #675
Hi @sugoidesune! This issue is related to my answer of your other issue. See https://github.com/nuxt-community/auth-module/issues/673#issuecomment-625843214

[2020-05-08 14:41] JoaoPedroAS51 commented on #674
Hi @sugoidesune! `autoFetchUser` only disabled user fetch after login. That way you can manually set  the user if the login response already have it. But it still fetching the user on reload the page because user data don't persist in the storage.

[2020-05-08 14:42] JoaoPedroAS51 commented on #676
Hi @sugoidesune! That's because `loggedIn` state is based on user data :)

[2020-05-08 14:52] JoaoPedroAS51 commented on #674
I will update the docs about `autoFetchUser` for a clearer understanding :)

[2020-05-08 15:19] sugoidesune commented on #673
Argh what an embarrassing oversight -_-"
Thank you

[2020-05-08 15:29] sugoidesune commented on #674
The perils of learning a new module framework.
I think the biggest misunderstanding was, that **setting `user` is not optional**.
The `user` has to be set **always**!
Otherwise things break, like the endless loop to fetch user server side and like the loggedIn property.
Still, the endless server side user fetch behaviour, is a very hard to catch bug, and i wish this didn't happen and simply threw

[2020-05-08 15:31] #675 closed

[2020-05-08 15:31] #673 closed

[2020-05-08 15:33] sugoidesune commented on #676
Took me also a while to realise, These two things would be seperate in my book.
Could also use a more explicit text in the docs!
Thanks!

[2020-05-08 15:33] #676 closed

[2020-05-08 15:36] cardaddy commented on #671
@JoaoPedroAS51 do you know if headers from the previous request are being appended to headers of the current request serverside causing them to exceed the header limit? I'm assuming the auth module is handling all the headers.

[2020-05-08 15:41] JoaoPedroAS51 commented on #674
@sugoidesune It shouldn't be happening. I'll try to fix this :)

[2020-05-08 15:50] JoaoPedroAS51 commented on #676
@sugoidesune We discussed about `loggedIn` being separated from user data, but we choose this approach to ensure that user is logged in and data has been fetched so we can safely navigate and render templates depending on `$auth.user`.

[2020-05-08 19:06] Timibadass commented on #676
I'm currently experiencing this issue and I have to refresh my app using `window.location` for `this.$auth.$state` to get updated with both user info and `loggedIn` as `true`

[2020-05-08 20:25] Maronato commented on #579
If I understood correctly, you have a backend that will be the provider of `access_tokens`, but you want to use Facebook or Google as the authorization server (to prove the user's identity).

To handle this, you'll need OAuth2's [authorization code flow](https://auth0.com/docs/flows/concepts/auth-code)

OAuth2 (*authorization code*) has two steps.
- The first is the redirect, which takes the user

[2020-05-09 08:33] radudiaconu0 opened #678 "How i use auth-next with typescript"
How i use auth-next with typescript? I get this error:
      Property '$auth' does not exist on type 'void'.

I put @nuxtjs/auth-next in tsconfig.json

[2020-05-09 14:41] JoaoPedroAS51 commented on #661
Hi @Bernix01! Thank you for your report! Just released a fix in 799e5cc88e71fdb0df13c76670cee705d5525536

[2020-05-09 14:41] #661 closed

[2020-05-09 14:42] JoaoPedroAS51 commented on #678
Just released a fix in 799e5cc

[2020-05-09 14:42] #678 closed

[2020-05-11 05:26] Izzatullo commented on #676
Hi. Does it fetch user data after logged in?

[2020-05-11 05:27] Izzatullo opened #680 "Can't create two local schemes with nuxt auth module"
https://cmty.app/nuxt/auth-module/issues/c571

[2020-05-11 09:14] tomturton commented on #328
I'm glad to see this feature is being added as for v5.

In the meantime, I'd like my app to use PKCE login. What is the best workaround to use PKCE with the Nuxt Auth module?

I am using `nuxt generate` in universal mode.

[2020-05-11 09:25] philippdaun commented on #328
@tomturton If you're `generate`ing it anyway, I'd suggest going with a client-side library that supports PKCE flow, like [vuex-oidc](https://github.com/perarnborg/vuex-oidc).

[2020-05-11 10:27] tomturton commented on #328
Thanks, but I plan to use the Nuxt server in the future, so I'd rather use this module if possible.

[2020-05-11 10:48] Timibadass commented on #676
Hi @Izzatullo, I have tried manually setting the user with `this.$auth.setUser(user)` when `autoFetchUser` was set to `false`, I've also tried setting it to `true` and although it fetches the user data, `this.$auth.$state` still returns default values for both `user` and `loggedIn`. The two methods don't change until I refresh my app.

[2020-05-11 14:32] JoaoPedroAS51 commented on #680
Hi @Izzatullo! Just add `_scheme: 'local'` to both strategies :)

[2020-05-11 14:58] JoaoPedroAS51 commented on #676
Hi @Timibadass! Sorry for the delay. Can you show me your config and your login method? :)

[2020-05-11 15:22] JoaoPedroAS51 commented on #328
Hi @tomturton! If you want, you can use the dev version in the meantime :)
We published a new package for dev `@nuxtjs/auth-next`

Please, check the docs for dev version because we made a lot of changes https://dev.auth.nuxtjs.org/

[2020-05-11 15:24] sugoidesune commented on #536
I am having the same issue with google auth.
The state "token" is being set correctly, but not the access_token.
Curiously, the auth.strategy is set to google on load of the callbackurl and switches after 2 seconds to 'local'.

[2020-05-11 19:05] Timibadass commented on #676
My config currently looks like this
`endpoints: {
          login: {
            url: "users/auth/login",
            method: "post",
            propertyName: "token"
          },
          user: {
            url: "users/accounts",
            method: "get",
            propertyName: "user"
          },
          logout: false
        },
        tokenType: "",
        autoFetchUser: false,

[2020-05-11 19:10] rajatjindal commented on #536
I think for google auth, u need authorize endpoint. One of the comment above talks about setting that for github auth case and also talks about how netlify redirect can solve it

https://github.com/nuxt-community/auth-module/issues/536#issuecomment-600721072

May be that is the issue?

[2020-05-11 21:01] JoaoPedroAS51 commented on #676
@Timibadass Your config seems fine to me.

Are you using vuex-persistedstate or nuxt-vuex-localstorage? An user reported that these packages don't work with auth-module and after uninstalling them this issue was fixed.

[2020-05-11 21:46] Timibadass commented on #676
@JoaoPedroAS51 I just removed the plugin(vuex-persist) and it works as expected, Thanks!

I think it should be added to the documentation so people would know not to use it with the auth module.

[2020-05-12 14:16] sugoidesune commented on #680
makesure _scheme is outside of endpoints. thats a mistake i made.
i kept local, but added convert_google local scheme.
![image](https://user-images.githubusercontent.com/20317691/81702557-bce8b400-946b-11ea-8fea-502da1ba68b6.png)

[2020-05-12 15:05] sugoidesune commented on #536
I authorized the callback url, no issues from google.
But the auth module is completely non reactive when i arrive at the callback url with the tokens in the url. I have now added the following to my callback url page and it works.

![image](https://user-images.githubusercontent.com/20317691/81709892-8498a400-9472-11ea-86c1-3e17d1808c45.png)
But thats as manual as it can get. Certainly this is som

[2020-05-12 22:55] Izzatullo commented on #680
@sugoidesune You have added only one of them and worked? @JoaoPedroAS51 what do you think about @sugoidesune way? Does it work?

[2020-05-12 22:58] Izzatullo commented on #680
Thanks brothers. @JoaoPedroAS51  and @sugoidesune. In next project, I will give a shot and try your answers . Now I have made it with different ways but the most important thing is that is working ).

[2020-05-12 23:00] Izzatullo commented on #680
By the way, In nuxt docs, most of the examples are forward you in 404 page of github and this really makes me irritated. Hate Nuxt Docs

[2020-05-12 23:49] JoaoPedroAS51 commented on #680
@Izzatullo Yes, it works. By default, instance names are the same as scheme names. That means if the strategy name is `local`, it will try to use `local` scheme. If you want to use a custom name for the strategy (like `localOne` or `localTwo`), then you need to set the `_scheme` :)

 You can read more about schemes here:
https://auth.nuxtjs.org/guide/scheme.html

[2020-05-12 23:51] JoaoPedroAS51 commented on #680
Can you tell me what examples are broken? I would be happy to fix them :)

[2020-05-13 20:11] #680 closed

[2020-05-13 22:49] aaronhuisinga opened #682 "Password grant using Axios baseURL"
### Version
5.0-dev

### Steps to reproduce
1. Install 5.0-dev build of auth module
2. Configure Passport auth strategy using grantType of password
3. Submit login form

[code]

### What is expected?
Request is made to http://localhost:3000/_auth/laravelPassport/token

### What is actually happening?
Request is made to http://testing.com/api/v1/_auth/laravelPassport/token

### Additional Comments?

[2020-05-13 23:57] JoaoPedroAS51 commented on #682
Hi @aaronhuisinga! Thank you for your report! I'm working on a fix right now 😃

[2020-05-14 21:23] Hulkmaster opened #684 "Add possibility to set axios instance"
### What problem does this feature solve?

so in our project we have several api endpoints and we create several axios instances (with different baseurl and other settings) and auth should use one of them

### What does the proposed changes look like?

// plugin-auth-extends.js
[code]

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> communi

[2020-05-16 11:49] studiocredo commented on #328
Hi, just wanted to confirm that I could  get the authorization code grant flow with PKCE to work with both Azure and Okta as authentication provider, using the current `@nuxtjs/auth-next`, so you guys are definitely on the right track there.

I also wanted to pointed out that there still seems to be an issue with the refresh token flow, the actual POST to refresh the token is never executed becaus

[2020-05-16 13:15] JoaoPedroAS51 commented on #328
Hi @studiocredo! Thank you for your report! :)

I'm gonna work on a fix for this issue.

[2020-05-17 08:38] sdil opened #686 "Updated Doc with local refresh scheme"
### What problem does this feature solve?

I'm having difficulty using refresh token to integrate with my Django REST Framework backend. After reading the source code (https://github.com/nuxt-community/auth-module/blob/dev/src/schemes/refresh.ts) and pull requests, it does mention about 'refresh' scheme. However, I could not find anything about that in the official documentation.

### What does th

[2020-05-17 09:06] mtangoo commented on #437
for me all suggestion didn't work. The login was succeeding, everything set to local storage but no redirection to the correct page. Checked all I could and didn't work. Then I remembered one other project I worked with nuxt and found the solution and here I share it

my backend was sending back something like
[code]

[code]

[2020-05-17 09:10] Fyroman commented on #437
@mtangoo What does your configuration look like?

[2020-05-17 11:52] JoaoPedroAS51 commented on #686
Hi @sdil! Refresh support wasn't releaset yet. It will be released in v5, but if you want to use it now, you can use dev version. We published a new package for dev version `@nuxtjs/auth-next`

Please, check the updated docs for dev version in https://dev.auth.nuxtjs.org/

[2020-05-17 12:33] sdil commented on #686
Ohh. Thanks for the clarification :)

[2020-05-17 12:33] #686 closed

[2020-05-17 14:58] yaniv51 opened #687 "Redirect to home page after oauth2 failed"
### What problem does this feature solve?

After failed to authenticate via oauth2 - enable redirect to home page

### What does the proposed changes look like?

On schemes -> oauth2.ts -> _handleCallback

after getting response with this.$auth.request, if token is not exists (line 297) consider to redirect to home page/error page.

<div align="right"><sub><em>This feature request is available on

[2020-05-17 15:02] yaniv51 opened #688 "oauth2 pass state parameter to server"
### What problem does this feature solve?

Getting state information while user request to login with oauth2.

While pass a state for oauth2 login, the value is passed to provider(google,facebook) and the provider is sending this value back to callback URL but oauth2 implementation is ignoring this state paramter.

It is possible to pass this parameter via the POST request

<div align="right"><sub

[2020-05-17 18:00] #682 closed

[2020-05-17 18:23] mtangoo commented on #437
Here we go!

[code]

[2020-05-17 18:44] Fyroman commented on #437
I think it's because of autoFetchUser: false. Might as well set user endpoint to "false" since it seems like you don't really use it.

[2020-05-18 19:08] #302 closed

[2020-05-19 01:45] bravik commented on #674
Hi, @JoaoPedroAS51 do you know, is there a way to inject to auto fetching process some custom user object transformation? If for example api data structure differs from app model user.

[2020-05-19 12:37] emielmolenaar commented on #245
@themondays Thanks! Been wasting a couple of hours on this one... :(

[2020-05-19 14:42] JoaoPedroAS51 commented on #674
Hi @bravik! I believe you can achieve your goal by creating a custom scheme. You can extend the scheme you are currently using and override the `fetchUser` method :)

Create a new file in `~/schemes/myCustomScheme.js`
[code]
Then in your auth config:
[code]

[2020-05-19 16:07] jdbdnz commented on #92
re:

@breakingrobot [httpOnly cookies are not accessible via `Document.cookie`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies#Secure_and_HttpOnly_cookies), so storing your session credentials there does not allow the client side JS access like `localStorage` does.

For everyone coming across thread, _do not_ store your session credentials in `localStorage`.  Your server should send it

[2020-05-19 16:11] jdbdnz commented on #92
re:

@breakingrobot [httpOnly cookies are not accessible via `Document.cookie`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies#Secure_and_HttpOnly_cookies), so storing your session credentials there does not allow the client side JS access like `localStorage` does.

For everyone coming across thread, _do not_ store your session credentials in `localStorage`.  Your server should send it

[2020-05-19 16:15] jdbdnz commented on #142
I left a pretty lengthy explanation of why you should absolutely not listen to anyone telling you it's ok to set sessions credentials anywhere client side JavaScript can access on the original issue
https://github.com/nuxt-community/auth-module/issues/92

I've been digging into trying to get to get httpOnly to work with the module for about an hour, and come to the conclusion that maybe I shouldn'

[2020-05-20 07:31] quanhvsudobo commented on #305
@hasanmumin have you fixed this problem yet?
I got the same.

[2020-05-20 08:43] IGassmann commented on #503
This will be a welcomed addition to v5.

[2020-05-20 08:46] IGassmann opened #691 "Make it clear what OAuth 2.0 flows are supported"
It's currently not clear in the documentation what OAuth 2.0 flows are supported. For instance, the Authorization Code flow is only supported with the PKCE extension.

[2020-05-20 12:05] studiocredo commented on #328
After some re-testing (and upgrading to the latest dev version `"@nuxtjs/auth-next": "^5.0.0-1589738535.90a214b"`), the token refresh also seems to work. The issue was (as often) in my own code.

[2020-05-20 13:28] sugoidesune commented on #674
Fantastic, would be great to include this in the docs!
I am stumbling on one error though.
`SyntaxError
Unexpected token 'export'`

* there was also an await in not async function error. that was easy to fix.

[2020-05-20 14:02] JoaoPedroAS51 commented on #674
@sugoidesune Ok, thank you for letting me know :)
I'll test and update the comment above.

[2020-05-20 14:16] sugoidesune commented on #674
I copy pasted the LocalScheme, and it works, with the fixes mentioned above.
Im simply incapable of importing 🤦‍♂️😅

[2020-05-20 14:29] JoaoPedroAS51 commented on #674
@sugoidesune I updated the comment above.

- Added missing async to `fetchUser`
- Added missing  `endpoint` param to `fetchUser`
- Added `@nuxtjs/auth` to transpile in `nuxt.config.js`

Can you test and see if it works now? :)

[2020-05-20 14:40] sugoidesune commented on #674
Awesome!, Yup, the transpile part fixed it and it works.

nuxt.config.js
`build: {
    transpile: [
      '@nuxtjs/auth'
    ]
}
`
the import statement is missing a c in LocalSheme.

[2020-05-20 14:49] JoaoPedroAS51 commented on #674
@sugoidesune I'm happy to know it worked! 😃
I'm gonna improve the docs to show how to create a custom scheme.

[2020-05-20 17:23] sugoidesune opened #693 "Secondary Local and Custom schemes are not loggedIn after page reload."
### Version

[v4.9.1](https://github.com/auth-module/releases/tag/v4.9.1)

### Reproduction link

[https://codesandbox.io/s/local2-ciqks](https://codesandbox.io/s/local2-ciqks)

### Steps to reproduce

reproduction link:
1. login button 1. refresh page -> still logged in.
2. login button 2. refresh page -> not logged in anymore

technical:
1: set `cookie: false,`
2: Login with a new `strategy` usi

[2020-05-20 17:49] JoaoPedroAS51 commented on #693
Hi @sugoidesune! I'm gonna make some tests to see what is happening :)
Just note that `cookie` is required for `universal` mode.

[2020-05-20 18:07] JoaoPedroAS51 commented on #693
@sugoidesune Yes, that's the problem. `cookie` is required for `universal` mode. If you change to `spa` mode then custom schemes will work with `cookie: false`.

[2020-05-20 18:11] sugoidesune commented on #693
Good enough for now.
But would be great if this was fixed for version 5.

Thank you for ⚡ responses ❤

[2020-05-20 18:13] JoaoPedroAS51 commented on #693
Actually it can't be "fixed" because localStorage only works on client side. If you are using `universal` mode your app runs in server side too. Then we need to use cookies to sync scheme.

[2020-05-20 18:24] #693 closed

[2020-05-20 21:28] Weijian23 opened #694 "change redirec_uri based on current url"
Hi,
Is there a way to set the redirect_uri dynamically? Based on the different environments, the redirect_uri should be different.
I tried to use process.env.BASE_URL, it works when I run on my localhost, but in the production environment, its value is undefined.
In my nuxt.config file, when I run "npm run dev" I can print localhost, but when I run "npm run build", the value is undefined.
So is th

[2020-05-21 09:36] dappiu commented on #465
I think we should take action now. Please see this: https://github.com/nuxt-community/auth-module/pull/466#issuecomment-631987959

[2020-05-21 10:17] mtangoo commented on #437
No I use it. But it was annoying that when login failed it would request user anyway (My login endpoint is return always 200 with login status in JSON reponse)

So I had to turn it off for automatic but I use it

[2020-05-21 10:18] mtangoo commented on #437
But why does refresh work?

[2020-05-21 15:27] JoaoPedroAS51 commented on #437
Hi @mtangoo! I believe one solution would be creating a custom scheme that extends `local` scheme. That way you can override the `login` method to match your requirements and enable `autoFetchUser` again :)

Before creating the custom scheme, you will need to add `@nuxtjs/auth` to `transpile`.

`nuxt.config.js`
[code]

With this set up, you can create your scheme file.

`~/schemes/customLocalSchem

[2020-05-21 15:30] mtangoo commented on #437
I will try that one. Makes life easy sharing with projects

[2020-05-21 22:12] PaulJasiul opened #697 "Sanctum can not authenticate"
I made a Laravel controller which return:
[code]

In Nuxt app I get successful login and I see some values in cookie:
- auth._token.laravelSanctum: 200
- auth.redirect: %2F
- auth._token_expiration.laravelSanctum: false
- auth.strategy: laravelSanctum

But I am not authenticated. What is wrong with my code?

[2020-05-22 08:49] sugoidesune commented on #693
@JoaoPedroAS51  But thats the thing. Login button 1 works, because it's the standard `local` scheme.
if you use a second 'local' scheme it doesn't work.
So its just that additional local schemes get ignored.

[code]

[2020-05-22 14:09] JoaoPedroAS51 commented on #693
Hi @sugoidesune! Let me explain :)

What really happens here is that `local` strategy is being set as default strategy. So as cookies are disabled and localStorage doesn't work in server side, it tries to get the strategy but fails. Then the fallback is the default strategy (local). If you set `defaultStrategy` option, you will see that `local` strategy will not work anymore.
[code]

What I'm tryi

[2020-05-23 00:44] Peras795 opened #698 "Some cookies are misusing the recommended “sameSite“ attribute [Firefox]"
came up with this warning for each cookie the module sets.
https://ibb.co/Z8HXQdq

[2020-05-23 00:54] Peras795 commented on #698
Refer to:
https://auth.nuxtjs.org/api/options.html#cookie
https://www.npmjs.com/package/cookie

[2020-05-23 00:54] #698 closed

[2020-05-23 13:03] joaohenriqueabreu opened #699 "TypeError: Cannot use 'in' operator to search for 'token'"
### Version

[v4.9.1](https://github.com/auth-module/releases/tag/v4.9.1)

### Reproduction link

[https://codepen.io/joao-henrique-abreu/pen/xxwBrGZ](https://codepen.io/joao-henrique-abreu/pen/xxwBrGZ)

### Steps to reproduce

[UPDATE]: I was able to "fix" this by disabling token (not sure this is ideal)

Prod (QA) setup: heroku app.

`nuxt.config.js`

Works on dev / doesn't work on prod:

[code]

[2020-05-23 17:15] agravelot commented on #559
Using v5 without any issues with public client :

[code]

[2020-05-24 22:00] Ikanihoda commented on #668
HTTP/1.1 200 ok .only json allowed

[2020-05-24 22:01] Ikanihoda commented on #668
expried_at:1567765561

[2020-05-24 22:02] Ikanihoda commented on #668
Master card

[2020-05-25 07:57] sugoidesune commented on #693
If `cookie: false` server side authentication will by design never work and there is no reason to perform it.

- Server side authentication should be turned off
- Server should not fallback to `defaultStrategy`
- Should leave the authentication process to the clientside.

I haven't looked at the source yet hopefully a simple if statemet would suffice:

[code]

[2020-05-25 09:09] sugoidesune commented on #676
Sorry continued conversation on github about this issue.
Turns out that `loggedIn` is actually 'user is set' and not just 'login call succesful'

[2020-05-25 09:14] samdharris commented on #286
This resolved this issue for me too. Thanks

[2020-05-25 12:35] tomasSlouka opened #701 "Allocation failed - JavaScript heap out of memory"
Steps to reproduce
Create a new project (all options leave at default)
[code]
Install axios and auth module
[code]
Update nuxt.config.js
[code]
Run
[code]
Open the localhost, and you get Allocation failed - JavaScript heap out of memory after a while.
I have also tried to update all packages to the latest versions.
When I comment out @nuxtjs/auth from modules, everything is fine.
[code]
What is wr

[2020-05-25 20:31] devondahon commented on #505
@JoaoPedroAS51
I have multiple Nuxt websites like `foo.com` and `bar.com`, they all have their own database with `users` table in a **Laravel** backend.
My `guards` and `providers` are configured as below in **Laravel** `config/auth.php`:
[code]

How to set Nuxt authentication and Laravel settings to use `foo` guard with `foo.com` and `bar` guard with `bar.com` ?

[2020-05-26 08:33] hahnzus commented on #328
Hi @studiocredo, were you able to get Okta PKCE working with auth-next module? If so (first off, awesome stuff), what settings did you use for strategy and scheme? I did ours outside of auth and running into the refresh issue, but I'd prefer to use auth module as much as possible. Thanks!

[2020-05-26 13:43] devondahon commented on #505
I found my answer.

It works out-of-the-box with Laravel Passport >9.x which allows to set a provider for each oauth client.
[code]

For those who need a clean install of Laravel Passport, you can check [this post](https://stackoverflow.com/a/62021326/931247).

[2020-05-26 18:44] kevintechie commented on #691
I agree that the docs should be explicit and show how to set up each flow.

However, I'm currently using Authorization Code flow without PKCE with nuxt-auth. Unless something has changed recently, it should work.

[2020-05-26 18:53] kevintechie commented on #688
Are you saying the Google and Facebook are passing the state parameter via POST back to the client? While my experience is with AWS Cognito, it is my understanding that the OAuth2 sepc says that the state parameter should be passed back to the client on the query string.

I can confirm that nuxt-auth correctly picks up the state parameter on the query string when using the Oauth2 scheme.

[2020-05-26 22:01] xplotol opened #702 "How can I persist $auth using vuex store?"
I would like to use vuex-persistedstate to persist the login session (I was able to manage this with cookies) .  vuex-persistedstate  has the ability to encrypt tokens used in the vuex store. Any posibility for this?

[2020-05-26 22:05] xplotol commented on #701
I had this once - simple reboot solved this.

[2020-05-27 08:31] yaniv51 commented on #688
No, when sending state parametr to Google/Facebook, they pass it back as a parameter in the redirect URL(and as you said, nuxt-auth is implementing this usage and works perfect)

All I ask is to pass this parameter to server while sending POST request to token endpoint.
Currently the state is only for NUXT validation and I want it also to be validated via my backend (ouaht2.ts -> _handleCallback

[2020-05-27 09:04] devondahon commented on #505
Actually, what I would need is to use a **password grant token** as documented [here](https://laravel.com/docs/7.x/passport#password-grant-tokens).

But, I've read [here](https://stackoverflow.com/questions/61289329/whats-the-problem-of-using-password-grant-tokens-for-nuxt-spa) that it's insecure.

There's use case [here](https://dev.to/stefant123/secure-authentication-in-nuxt-spa-with-laravel-as-

[2020-05-27 14:23] reagan-chita commented on #58
function IssueTracking.Accounts.Auth.login/2 is undefined (module IssueTracking.Accounts.Auth is not available)
help me

[2020-05-27 14:25] reagan-chita commented on #58
defmodule IssueTrackingWeb.SessionController do
  use IssueTrackingWeb, :controller
  alias IssueTracking.Repo
  alias IssueTracking.Accounts.Auth

  def new(conn, _params) do
    render(conn, "new.html")
  end

  def create(conn, session_params) do
    case Auth.login(session_params, Repo) do
      {:ok, user} ->
        conn
        |> put_session(:current_user, user.id)
        |> put_flash(:in

[2020-05-27 14:27] reagan-chita commented on #58
def new(conn, _params) do
render(conn, "new.html")
end

def create(conn, session_params) do
case Auth.login(session_params, Repo) do
{:ok, user} ->
conn
|> put_session(:current_user, user.id)
|> put_flash(:info, "logged in successfully.")
|> redirect(to: Routes.page_path(conn, :index))
:error ->
conn
|> put_flash(:error, "There was a problem with your username/password")
|> render("new.html")
end

[2020-05-27 15:12] ctwhome opened #703 "Is it possible to not use universal login with Auth0, but directly a link with google?"
I want to be able to use something like this:
`this.$auth.loginWith('auth0-google')`
or
`this.$auth.loginWith('auth0-github')`

Is this possible?
this is how my login modal looks:
![image](https://user-images.githubusercontent.com/4195550/83038447-40de9680-a03d-11ea-8000-bdd44adf25f4.png)

[2020-05-27 16:05] ctwhome commented on #539
any thoughts about this?

[2020-05-27 20:23] UnlimitedBytes commented on #574
I made an example using nuxtjs, nuxt-auth, mongoose, express-sessions you can find it here: https://github.com/UnlimitedBytes/nuxt-auth-example

[2020-05-28 07:33] kevintechie commented on #688
It's likely what you're asking for would not be Oauth2 compliant and the token endpoint would reject the token request if the state parameter was in a the POST request to the endpoint. The purpose of the state parameter is to help prevent CSRF attacks by comparing the state sent to the authentication endpoint to the state returned by the authentication endpoint so that a fraudulent response will b

[2020-05-28 08:12] codetheorist commented on #701
This isn't an issue with `@nuxtjs/auth`.

[2020-05-28 11:02] slidenerd commented on #574
@UnlimitedBytes could you update all your dependencies in package.json to the latest version and then run the webapp, does it still work?

[2020-05-28 11:19] UnlimitedBytes commented on #574
@slidenerd Yes it still works. I also updated the dependencies in the repo to the latest versions.

[2020-05-29 05:10] leonelsanchesdasilva commented on #58
Motivated by the laughable amount of hours spent while dealing with this library, especially this problem, I should comment here and open another issue afterwards, using the template for new issues.

## The problem I was having

User accesses the login screen, types correct username/password combination, Auth module is configured with `local` strategy, fetches the endpoint for auth, gets a JWT tok

[2020-05-29 05:24] leonelsanchesdasilva opened #707 "Login redirect not working, $auth.user.loggedIn is false, $auth.user is null when $auth.loginWith('local', {}) returns"
### Version

[v4.9.1](https://github.com/auth-module/releases/tag/v4.9.1)

### Reproduction link

[https://github.com/nuxt-community/auth-module/issues/58#issuecomment-635763044](https://github.com/nuxt-community/auth-module/issues/58#issuecomment-635763044)

### Steps to reproduce

Start a project with @nuxtjs/auth version 4.9.0 or 4.9.1 (got to simulate in both). Make sure the endpoints configur

[2020-05-29 10:31] ctwhome commented on #366
I had the same problem as you, I fixed it (after looong search and pain, I mean learning...)
the audience is in the auth0 identifier for your tenant

![image](https://user-images.githubusercontent.com/4195550/83250220-0fcea500-a1a8-11ea-8267-c3aa0b10ece1.png)

then the auth module config in nuxt.config.js is this:
[code]

[2020-05-29 12:16] devondahon opened #708 "blocked by CORS policy with Laravel Sanctum provider : Proxy uncorrectly configured ?"
I have a **Laravel** website served by [Valet](https://laravel.com/docs/master/valet) on `backend.test` and a **Nuxt** SPA on `nuxt.backend.test:3005`. When I try to authenticate to [Sanctum](https://laravel.com/docs/master/sanctum#spa-authentication) with [Nuxt Auth](https://dev.auth.nuxtjs.org/providers/laravel-sanctum.html) module, I get the CORS error below:

How can I fix it ? My guess is tha

[2020-05-29 15:55] cardaddy commented on #671
I have been able to locate the bug causing the expanding header. Storage.js line 187 sets the header cookie for each request, however on line 190 we are concatenating the set header cookie from the previous request with the serializedCookie and no duplicate filter. This is causing the headers to expand infinitely with each request.  A duplicate filter needs to be applied or we need to just set the

[2020-05-29 20:19] cardaddy commented on #671
@JoaoPedroAS51 could you tell us how to fork V5 so we can apply a temp fix until you guys can get around to fixing this issue permanently?

[2020-05-30 12:31] toniengelhardt commented on #579
Great piece Maronato, just what I was looking for! But how does the signup with social work?

[2020-05-30 12:59] Maronato commented on #579
To the Oauth client (your app), social login and signup flows are indistinguishable. If you want to differentiate between them you have to keep track of registered users using a database :(

[2020-05-30 14:05] toniengelhardt commented on #579
Yes that's what I'm doing. I have a Django/Nuxt app with working signup/login flow using JWT and I want to add social auth for better UX.

[2020-05-31 15:22] aldarund commented on #708
thats not a nuxt problem. You should configure your backend to return proper cors fields, please ask at  the backend community that u are using

[2020-05-31 15:22] #708 closed

[2020-06-01 14:27] yaniv51 commented on #688
I'm using it for a different purpose and not for the CSRF attack.

In my case, when user login he is asking to accept terms.
After user accept multiple terms(not all of them must be checked) and I make login with google - I would like to get terms status to backend (for save this data)
Because AUTH module is sending the request - I can not change the data on POST request and the only bypass I thou

[2020-06-01 15:43] cardaddy opened #711 "How do you fork v5 "@nuxtjs/auth-next"?"
We discovered a severe bug that is preventing us from being able to move forward which we reported here, https://github.com/nuxt-community/auth-module/issues/671. We would like to fork v5 and make a temp repair where we could continue using v5 allowing us to move forward with our app until the auth team gets around to properly fixing the bug. It appears as if v5 is using "@nuxtjs/auth-next" and we

[2020-06-01 17:06] kevintechie commented on #688
I think what you’ll have to do is to save the info you want to send to the server to a cookie using the state as the key. Then when redirecting back, read the cookie data on the server.

From: yaniv51 <notifications@github.com>
Sent: Monday, June 1, 2020 7:28 AM
To: nuxt-community/auth-module <auth-module@noreply.github.com>
Cc: Kevin Coleman <kevin+github@gabu.com>; Comment <comment@noreply.githu

[2020-06-01 20:49] arnauddsj commented on #437
For those who like me got stuck on why their own redirection was going through home page even with the **home: false**
[code]
Switching to **logout: false** instead made the job (makes no sense but it's working for now).

[2020-06-02 05:41] chris-aeviator commented on #286
For me the issue was also based on a combination of setting

[code]

while not setting a `proxy: { '/api': url… } ` (my other endpoints start with `/auth`.

nuxt-auth should check for it handle this gracefully instead of crashing the node process with an OOM

[2020-06-02 08:05] a-mazalov commented on #671
@JoaoPedroAS51 We have exactly the same problem as @cardaddy.
On our project, we use the nginx reverse proxy server and temporarily solve this problem by hiding cookies in the headers.

[2020-06-02 08:38] suecharo commented on #210
I faced a similar issue when using GitHub's Oauth2 authentication.
The version of the module is `@nuxtjs/auth 4.9.1`.

The symptom above may be caused by a cookie from `github.com` being left in the browser.
Therefore, I deleted the cookie of `github.com` or requested the logout endpoint of `api.github.com` directly.
Then I can log in as a different user.

It would be appreciated if you could modi

[2020-06-02 14:02] gilles6 opened #712 "Cannot logout from backend with laravel.passport strategy"
My Laravel logout route `http://backend.test/api/logout'` is never passed when I logout with `this.$auth.logout()`. Is it a but or something not correctly configured in my config ?

`nuxt.config.js`:
[code]

Laravel `routes/api.php`:
[code]

[2020-06-02 20:45] amirakbulut commented on #245
How does this solve making `resetOnError: true` work?

[2020-06-02 21:28] studiocredo commented on #328
Hi @hahnzus, this is the config I used to get the Oauth2 authorization code flow with PKCE working for Okta. Mind that my remark about getting refresh tokens to work only applied to Azure. For Okta, I haven't figured out yet how to get their API to return a refresh token. Once you get that, I assume the client side part in nuxt-auth should work as well.

[code]

[2020-06-02 23:08] jeremy21212121 commented on #711
For future reference, the [nuxt discord](https://discord.nuxtjs.org/) is a more appropriate place to ask for help.

It sounds like you can resolve that error by installing `@nuxts/auth-next`:

`npm install --save @nuxtjs/auth-next`

That command will install the missing package and add it to the `dependencies` section of your `package.json` file. Searching google for "module not found npm" turns u

[2020-06-03 00:03] cardaddy commented on #711
@jeremy21212121 yes I’m aware of how to install the dev version from this branch and I know how to fork the project, however when I fork it and make my change, I’m unable to get version 5 with typescript. It still wants to build the project in the .nuxt folder.

I also wouldn’t have an issue asking for help on the other forums if we actually received a response. I don’t mean to come as being harsh

[2020-06-03 01:11] JoaoPedroAS51 commented on #711
Hi @cardaddy! Sorry for the delay.

In your fork, try to remove `dist` directory from `.gitignore`. Then run `build`.
Finally, in your project, add e.g. `"@nuxtjs/auth-next": "cardaddy/auth-module"` to your `package.json`

Let me know if it worked! :)

Thank you for report the error about cookies. I'll work on it. ;)

[2020-06-03 01:16] cardaddy commented on #711
@JoaoPedroAS51 I’d really appreciate it, I provided the buggy code block in the issue. Without v5 there’s no working refresh token and without the cookies you don’t get a JWT token. More than a couple requests and you exceed the header size making the library and framework useless . It looks to be a simple fix on your end, you just need to prevent the duplicate cookies from being appended to the h

[2020-06-03 07:24] studiocredo opened #713 "Runtime configuration of authentication strategies"
### What problem does this feature solve?

This feature allows to configure the auth module at runtime. This facilitates creating applications with the "Build Once, Deploy Many" principle (by applying guideline III of the 12-factor app methodology, storing configuration in the environment). Put simply: This feature enables deployment of the same build in multiple environments (production, staging,

[2020-06-03 08:07] matthieu-sofa commented on #328
Hi @studiocredo,

Thanks a lot for this. You are my only hope for days ;-)

Like you, I want to get the Oauth2 authorization code flow with PKCE working for Okta (locally at a first step, and hosted on Azure for prod). I'm struggling for days and I'm about to drop nuxt and go back to Vue classic only because of this.

I configured my nuxt.config.js like you did (just add an additionnal "logout" en

[2020-06-03 09:00] chris-aeviator commented on #572
when changing my package.json to this, delete `@nuxtjs-auth` from `node_modules` and run `yarn install` no nuxt auth module is installed, running nuxt fails with a module not found for nuxt auth

[2020-06-03 13:39] homerjam commented on #462
Leaving this here as it's a reference for what needs to happen on the server side https://firebase.google.com/docs/auth/admin/verify-id-tokens#verify_id_tokens_using_the_firebase_admin_sdk

[2020-06-03 15:22] JoaoPedroAS51 commented on #572
Hi @chris-aeviator! That answer is outdated.
We published the `dev` branch as `@nuxtjs/auth-next`. Just run `yarn add @nuxtjs/auth-next` :)

[2020-06-03 15:38] chris-aeviator commented on #572
Ok – I was unsure if both were the same thing thanks for clarification

[2020-06-03 16:13] cardaddy commented on #671
@JoaoPedroAS51 I'm not sure what the consequences will be for removing the concatenating headers, but I removed that code in my fork and it appears to have resolved our header issue.

https://github.com/cardaddy/auth-module/blob/dev/src/core/storage.ts

[2020-06-04 12:40] homerjam commented on #462
I made this scheme to work with Firebase - it's based on v5. Would be good to get thoughts on possible inclusion?

https://gist.github.com/homerjam/84645afbe069e516ba1fe1f05c2ed08a

[2020-06-04 14:23] rivor opened #716 "Refresh scheme logs out user on first load page if token has expired. (for auth-next)"
### Version

[v5.0.0](https://github.com/auth-module/releases/tag/v5.0.0)

### Reproduction link

[https://jsfiddle.net/](https://jsfiddle.net/)

### Steps to reproduce

Just let token expire and refresh page without doing any axios requests before leaving page.

### What is expected ?

user to be still logged in after page refresh

### What is actually happening?

user is getting logged out even

[2020-06-04 20:24] kamilcglr commented on #314
Are we doing something wrong? Doesn't anyone else have this problem?

[2020-06-04 21:46] powo commented on #713
Is there any workaround at the moment, to update/override `$auth.strategies` at runtime ?

[2020-06-04 22:14] nmandal commented on #579
@toniengelhardt I'm trying to do the same thing - have you been able to get OAuth working with Facebook yet?

[2020-06-04 23:52] JoaoPedroAS51 commented on #671
Hi @cardaddy! Can you try the following filter and see if it solves your issue?
[code]

[2020-06-04 23:56] Maronato commented on #579
I haven’t tried this particular setup, but [dj-rest-auth](https://dj-rest-auth.readthedocs.io/en/latest/)’s social auth endpoint [may receive the `code` parameter](https://dj-rest-auth.readthedocs.io/en/latest/api_endpoints.html), which is exactly what you need.

On Nuxt, just follow my previous snippet. On Django, follow `dj-rest-auth`'s tutorial, enabling JWT and it should all work.

If you are

[2020-06-05 00:39] JoaoPedroAS51 commented on #671
@cardaddy I improved the filter! :)
Now it will also prevent cookies with multiple values (it will remove the cookie with old value).
Can you try it too?
[code]

[2020-06-05 11:10] brfrth commented on #68
This should be reopened. Same issue as @Skylercrane23

[2020-06-05 12:46] cardaddy commented on #671
@JoaoPedroAS51 works! Could you add the patch to v5? Thanks

[2020-06-05 18:57] RonAlmog opened #719 "auth-module and vuex-persist don't play nice together"
### Version

[v4.9.1](https://github.com/auth-module/releases/tag/v4.9.1)

### Reproduction link

[https://github.com/nuxt-community/auth-module](https://github.com/nuxt-community/auth-module)

### Steps to reproduce

to reproduce: take a working nuxt website, with auth-module installed and working, and just run: yarn add vuex-persist.
see many weird issues with login, logout, and getting the info

[2020-06-05 22:24] kamilcglr commented on #53
Sorry for the question but howdid you do it?

[2020-06-06 01:50] kabaluyot commented on #53
@kamaln7 you set the axios plugin in client mode only ... like
`
auth: {
  ... rest of auth options
  plugins: [
      { src: "~/plugins/axios", mode: "client" },
      { src: "~/plugins/auth", mode: "client" }
   ]
}
`

[2020-06-06 10:08] mypirateapp commented on #574
@UnlimitedBytes nice repo! if you dont mind can you also add passport-facebook to it, how would your code work with this.$auth.loginWith('facebook')

[2020-06-06 14:46] steklopod commented on #297
Will be nice

[2020-06-07 10:21] GMounir commented on #425
I have the same problem , I'm using laravel sanctum for the backend.

[2020-06-07 16:56] JoaoPedroAS51 commented on #716
Hi @rivor! I tried to reproduce your issue, but for me it's working as expected. It seems more like a misconfiguration problem. Can you show me your config?

[2020-06-07 20:13] rivor commented on #716
@JoaoPedroAS51 hey! Well, i already went back to original auth and use that right now but i had this configuration for it
`
	/*
	** Nuxt.js modules
	*/
	modules: [
		'@nuxtjs/axios',
		'@nuxtjs/auth-next'
	],

	auth: {
		strategies: {
			local: {
				endpoints: {
					login: { url: '/api/auth/login', method: 'post', propertyName: 'token' },
					logout: { url: '/api/auth/logout', method: 'post' },

[2020-06-07 21:13] JoaoPedroAS51 commented on #716
@rivor Your config seems fine. Just `propertyName` were deprecated in auth-next.
In your tests, what was the lifetime of the token?

[2020-06-07 22:12] rivor commented on #716
@JoaoPedroAS51 for login token it was 1 hour but when testing i set it to 5 seconds, for refresh token it doesn't expire.

[2020-06-07 22:56] JoaoPedroAS51 commented on #716
@rivor And did you change the token `maxAge` to `5`?

[2020-06-07 23:58] rivor commented on #716
@JoaoPedroAS51 yeah, i tried changing that too, same thing. Maybe it's because i use ssr (universal mode) with adonisjs? When i was installing nuxtjs, i chose universal mode with adonisjs as back end.

[2020-06-08 06:16] Greenfig commented on #274
To resolve `this.$auth` in vuex typescript modules, I had to add the following

[code]

[2020-06-08 07:42] estylehq opened #723 "Is it right-way to use this module?"
Back-end server return:
[code]

My nuxt.config.js
[code]

as you see, ```login api``` is return ```access_token``` and ```user_information```

so, I set ```user url``` same value with ```login url```.

But right to what i know, that user url for fetching current ```user data```. Is it?

Is it right-way ?

If is not, how can I mapped user information calling login?

[2020-06-08 09:51] darthf1 commented on #701
I do have the same, but with `@nuxtjs/auth-next`. As soon as I move to the next module, I get the same error on HMR.

[code]

[2020-06-08 12:47] darthf1 opened #724 "[Auth0] pkce_code_verifier not set to null after login"
I'm using `@nuxtjs/auth-next` with the `auth0` provider with the `PKCE Grant flow`. In [oauth2.ts](https://github.com/nuxt-community/auth-module/blob/dev/src/schemes/oauth2.ts#L272) I noticed the following code:

[code]
I would expect the `pkce_code_verifier` variable be set to `null` after successful login. However, using `auth0` the `pkce_code_verifier` still has the original value in the cookie

[2020-06-08 13:48] darthf1 opened #725 "[Auth0] Not receiving a refresh token and error relating to wrong grantType"
I'm using `@nuxtjs/auth-next` with the `auth0` provider with the `PKCE Grant flow`. I'm having difficulties with setting up `auth0` and getting a `refreshToken`.

My `nuxt.config.ts`:
[code]

At first, I had the three grants enabled as displayed in the screenshot below.
![image](https://user-images.githubusercontent.com/17253332/84036619-b9c6e200-a99d-11ea-8b84-108e33ca7cd8.png)

The login was wor

[2020-06-08 14:21] JoaoPedroAS51 commented on #725
Hi @darthf1! I'm pretty sure that `responseType` should be `code`.

[2020-06-08 14:24] JoaoPedroAS51 commented on #724
Hi @darthf1! This is related to your other issue (#725). `responseType` should be code.

[2020-06-08 14:30] darthf1 commented on #724
Hi @JoaoPedroAS51 , you're right. Could have found it reading this line:
[code]

[2020-06-08 14:30] #724 closed

[2020-06-08 14:31] JoaoPedroAS51 commented on #723
Hi @estylehq! `user` endpoint must be different than `login` endpoint because we can't persist user data in storage. So we use `user` endpoint to fetch the user again.

For your case you can disable [`autoFetchUser`](https://auth.nuxtjs.org/schemes/local.html#autofetchuser)

Then you can do something like this:
[code]

[2020-06-08 15:24] darthf1 commented on #725
Hi @JoaoPedroAS51, thanks, you're absolutely correct. The `unauthorized_client` error disappears.

I managed to get it working, but there were still some hiccups:
- At first, I got redirected to the callback page and nothing was happening there. Fixed it by setting the token endpoint manually.
- Still stuck at the callback page, but now a `POST` request was made to the `/oauth/token` endpoint, but

[2020-06-08 15:46] JoaoPedroAS51 commented on #725
Hi @darthf1! I'm seeing here and `auth0` provider doesn't have support for this flow. I'll open a PR to add support to it :)

[2020-06-08 15:53] JoaoPedroAS51 commented on #725
That would be great! 😃

[2020-06-08 17:00] sergiocastrovale commented on #517
I'm having this exact same issue. Did you find a solution @flyingboy007 ?

[2020-06-08 19:07] cecurin commented on #701
It looks like it is a problem with nuxtjs@2.12.2 and nuxtjs/auth. I was updating my project and boom, eternal out of memory. This problem doesn't exist in nuxt@2.0.0 or nuxt@2.10.0 (The versions I tested). I don't know what changed between 2.10.0 and 2.12.2 but it breaks auth.

[2020-06-09 00:41] #607 closed

[2020-06-09 01:45] cecurin commented on #286
This one worked for me: Set local strategy to false if I'm not using it.
https://github.com/nuxt-community/auth-module/issues/312#issuecomment-473370865

[2020-06-09 19:15] nmandal commented on #579
@Maronato Would you be able to set up a demo repo? Doesn't even have to be Facebook, I have tried to get a custom auth solution with tokens and have been unable to find any success.

[2020-06-10 00:28] chris-aeviator commented on #312
Why has this issue been solved? Nuxt running out of memory here is the issue, not setting local auth scheme to fasle - nuxt fails miserably here and this should be addressed rather by burying and not documenting a workaround in an github issue

[2020-06-10 01:06] Maronato commented on #579
Sure! [Here](https://github.com/Maronato/nuxt-django-auth) it is

[2020-06-11 22:15] amirakbulut opened #727 "How to set full URL?"
See following situation:

[code]

The above callback value will turn into:

`http://mysite.com/http://api.mysite.com/callback`

How to solve this?

[2020-06-12 02:36] amirakbulut opened #728 "Automatically redirected on callback page"
(Using Auth0)

When logging in, I get redirected to my callback page, which automatically redirects me to the user dashboard. Why?

I need to run some logic before redirecting my user to the dashboard, so is there a way to do this manually? Here's my config:

[code]

[2020-06-12 09:36] jurrienpiris commented on #727
This seems to be happening since an update. Not sure which version. Looks like I'm also having troubles with URL's. Whenever I lock the version on 4.9.0 my issues disappear.

I'll try to reproduce this later..

[2020-06-12 10:28] Peras795 commented on #698
Yep. At first, i didnt notice that was in the docs. ty

[2020-06-12 15:09] vikvarg opened #729 "Nuxt Auth middleware redirect seems to fires before the store is initialized"
Hi, I implemented a local strategy with @nuxt/auth and laravel sanctum as backend using the cookie instead of the token.
Everything seems to work great, but after I log in i am correctly redirected to the home / but if i reload the page the middleware: 'auth' redirects me to the login even if the $auth storage state: isLogged and user are correctly populated. It seems then that the redirects appli

[2020-06-13 00:18] Altyon commented on #729
Did you run your app inside a docker container and in ssr mode ?
Because i have the exact same problem : the app works well by launching it on my localhost, auth too, with redirection etc.
But as soon as I launch it from docker, I can access and navigate without problem, as well as log, but when reloading the page, I am redirected to / login even if there is my token in the localStorage and cookie

[2020-06-13 06:50] vikvarg commented on #729
I am not using docker, but if i just switch from SSR to SPA it works well...so the problem seems to be in SSR mode

[2020-06-13 16:45] #671 closed

[2020-06-13 16:45] JoaoPedroAS51 commented on #671
Hi @cardaddy! Just merged the PR :)

[2020-06-13 19:15] IsidroMar95 commented on #729
i'm facing exactly the same issue but i need the app to be a SSR.

[2020-06-13 19:38] Altyon commented on #729
Can nuxt reach the host which provides your token ?
Like domain.com/api or api.domain.com.
Try to make a request to your api from server side (in nuxtServerInit for example).
Check also if base_url is correctly set server side, else it will fail and redirect you to login.

[2020-06-13 19:48] IsidroMar95 commented on #729
the login and register request are fine so nuxt reach the host, and Laravel return the cookies instead token... how can i check if the base_url is correctly server side?

[code]

[2020-06-14 02:05] IsidroMar95 opened #731 "Redirected when going from "/login" to "/" via a navigation guard."
When the user logout redirect to the login page, the redirect happens but i got the `Redirected when going from "/login" to "/" via a navigation guard.` error

nuxt.config.js
[code]

login.vue
[code]

logout button
[code]
![20200613_210548](https://user-images.githubusercontent.com/23019968/84583058-d1490500-adb9-11ea-9cbf-63ef8e8f510a.gif)

[2020-06-15 00:59] Altyon commented on #729
You can check inside any server side function (like nuxtServerInit in your store/index.js). You can console.log from the context (output will be server side too, in your terminal where you run yarn/npm run dev)
_In you example config, you redirect to /admin, are you sure you really need SSR in your backoffice ?
SSR is mainly for SEO, if you don't need your app to be crawled (like a protected area,

[2020-06-15 01:07] fahrinh commented on #142
I agree with @rur0 's approach.
Server only verifies cookie with httpOnly (`signature`)

[2020-06-15 07:14] Dimidel commented on #731
Same issue here. It's work well but I have the same error in console.
My config :

`  auth: {
    redirect: {
      login: '/login',
      logout: '/login',
      callback: false,
      home: '/'
    },
    strategies: {
      local: {
        endpoints: {
          login: {
            url: '/login',
            method: 'post',
            withCredentials: true,
            headers: {

[2020-06-15 07:33] raquelfleeet commented on #134
## RETURNING TO THE REQUEST PAGE AFTER LOGIN

#### Build in a system for keeping track of what page was originally requested and redirect to it after a successful login can be done in 2 steps.

As @belak said:

However, for me his solution didn’t work as I have problems when trying to import the helpers from the library. Nevertheless, there is a most **simple solution**:

- Create an auth-guard mi

[2020-06-15 07:36] raquelriobo commented on #134
## RETURNING TO THE REQUEST PAGE AFTER LOGIN

#### Build in a system for keeping track of what page was originally requested and redirect to it after a successful login can be done in 2 steps.

As @belak said:

However, for me his solution didn’t work as I have problems when trying to import the helpers from the library. Nevertheless, there is a most **simple solution**:

- Create an auth-guard mi

[2020-06-15 07:36] raquelriobo commented on #165
## RETURNING TO THE REQUEST PAGE AFTER LOGIN

#### Build in a system for keeping track of what page was originally requested and redirect to it after a successful login can be done in 2 steps.

As @belak said:

However, for me his solution didn’t work as I have problems when trying to import the helpers from the library. Nevertheless, there is a most **simple solution**:

- Create an auth-guard mi

[2020-06-15 14:38] miguel-a-calles-mba opened #732 "Auth0 Passwordless"
Hi, is it possible to use Auth0 in passwordless mode? This module works great with a regular username and password login, but my use case requires passwordless login. I am not sure how to enable that.

[2020-06-15 16:51] IsidroMar95 commented on #731
I thought it was just happening to me, because I've already tried it in two new projects from scratch and it's the same problem

[2020-06-15 17:41] silverbackdan opened #733 "yarn upgrade for `next`/`dev` version in dev results in missing dependencies"
For some reason after a `yarn upgrade` on the dev branch, there are multiple errors relating to the webpack configuration. The `~auth` alias part of the module appears to be broken and I also get the following dependency not found error `{truncated}/src/providers/auth0/scheme.ts in ./demo/.nuxt/auth.js` - is there a newer way needed to setup the alias and webpack dependencies?

[2020-06-15 18:26] silverbackdan commented on #733
I'm sorry - I'm not sure if the above issue is actually related to the current version. I think it still is but the issue manifests itself with `Unexpected token '!'`. The top file in the stack trace is `vm.js:88:7` but is missing stack frames. The next file is `node_modules/vue-server-renderer/build.dev.js:9285:18`

[2020-06-15 18:27] #733 closed

[2020-06-15 18:46] silverbackdan opened #734 "[dev][bug] yarn upgrade causes `dependency not found` issues"
After running `yarn upgrade` the following message then appears if I run `yarn dev`
[code]

I'm trying to implement a similar methodology as this module to a new module I'm writing. I'm also having trouble after a yarn upgrade where it'd be the equivalent of paths using the alias `~auth` are not found. I think there's something wrong with the way in which the aliases and transpiling paths are bein

[2020-06-16 03:40] canhkieu commented on #93
You can try my **apollo-schema.js**
[code]

[2020-06-16 13:19] darkons commented on #731
You guys are setting router middleware inside auth object. You must set it globally

[2020-06-16 13:22] thomas4Bitcraft opened #735 "Linkedin signin user error"
I wanted to implement linkedin signing with the auth module, but the user is not fetched after the login. Does anybody have done this successfully?

This is the auth config for linkedin:
[code]

And it is triggered with:
`this.$auth.loginWith('linkedin')`

The signin process itself is working - but after that i get redirected to the login page with a `code` GET parameter

[2020-06-16 17:31] IsidroMar95 commented on #731
the router middleware it's outside off the auth object, i dont know if this is either an error or what beacuse the redirect works

[2020-06-17 07:53] Icon003 commented on #729
Good day, it seems I have the same problem, when I update some pages, I am transferred to the username and then redirect to the main page. And I can't understand the logic in this, for example, on the page with the address /user-page throws, but on others there is no . But on an address with triple nesting (blog/user_id/article_id), it always switches to the username.

Can you find a way to avoid

[2020-06-17 10:30] chanar commented on #142
In what cases it's important to use payload compared to doing request against /auth/me? Because of unnecessary api call on every route change?

I have httpOnly cookie setup in the following way:

1. When I log in, server sends back httpOnly cookie.
2. When I receive a request, I have a middleware that sets the Bearer token (Laravel)

`if ($request->hasCookie('...')) {
                $token = $req

[2020-06-17 11:19] altynbek07 commented on #283
@JoaoPedroAS51 Any news?)

[2020-06-18 13:28] silverbackdan commented on #734
A fantastic dev was looking into this with me and looks like a babel update causes this issue. Our resolution was to change the way we import the module.

In the `demo/tsconfig.json` you would add into the `paths` config `{ "@nuxtjs/auth*": ["../src/*"] }` and into `demo/nuxt.config.js` the following:
[code]

Now in dev we will be using the `src` directory and in all the source code where `~auth`

[2020-06-19 06:21] minyou9 opened #736 "Auth0 Nuxt Security Concerns ( Vuex State)"
### Version

[v4.9.1](https://github.com/auth-module/releases/tag/v4.9.1)

### Reproduction link

[https://nuxt-auth.herokuapp.com/](https://nuxt-auth.herokuapp.com/)

### Steps to reproduce

Open up console in chrome
Input the following code in console:  `window.__NUXT__.state.auth.loggedIn = true`
It should automatically log you in without you actually logging in by email and password

### What

[2020-06-19 12:31] sirdiego commented on #716
Hi @JoaoPedroAS51,

I think I have the same problem with auth-next. I guess it's because there is the check().valid check inside the [refreshTokens](https://github.com/nuxt-community/auth-module/blob/dev/src/schemes/refresh.ts#L119))-Method. This will be false when the token is expired but the refresh token is still valid and will then stop the refreshTokens call before refreshing.

Maybe this sho

[2020-06-19 14:01] AllanPinheiroDeLima commented on #286
I should point that, weirdly, this happens only on Node 10.x. I have updated to Node 12.x and it does complete the build process. Same thing happens when using Node 14.x.

I only have had problems building when using Node 10.x

[2020-06-19 14:49] JoaoPedroAS51 commented on #716
Hi @sirdiego! Thank your for your report!

I can ensure that it's not caused by the `check` method. In this case it's only checking if token and refresh token are defined, not their status.

Further investigation of this issue will be needed. Can you show me your config?

[2020-06-19 14:55] sirdiego commented on #716
Hi @JoaoPedroAS51, thanks for your feedback.

Oh, I see. I read the `checkStatus` the other way around... My bad. I'll investigate this further in the coming week!

[2020-06-19 18:05] andyconda21 commented on #678
I'm having issues getting this working as well. Is there a writeup somewhere on what else needs to be done to set this up for typescript?

[2020-06-19 19:21] IsidroMar95 opened #737 "NuxtAuth is trying to fetch the user before app is authenticated"
I'm using Laravel Sanctum to authenticate my SPA, but it seems that when the app first loads the AuthModule is trying to fetch the user before the user logs in because I have a console error `GET http://api.test/api/user 401 (Unauthorized)`
![image](https://user-images.githubusercontent.com/23019968/85172518-de8d4600-b236-11ea-8434-42e5695e7424.png)
obviously the route is protected with middleware

[2020-06-19 22:42] JoaoPedroAS51 commented on #737
Hi @IsidroMar95! Laravel Sanctum support will be added in v5. In the meantime you can use the dev version `@nuxtjs/auth-next`
You can check the updated docs here: https://dev.auth.nuxtjs.org/guide/setup.html
And Laravel Sanctum docs here: https://dev.auth.nuxtjs.org/providers/laravel-sanctum.html

[2020-06-19 22:53] IsidroMar95 commented on #737
I thought if it was supported, I was thinking of using Sanctum in a project in production, but I'll wait for the next version to be stable, thanks for responding.

[2020-06-19 22:53] #737 closed

[2020-06-20 02:57] onesimusaz commented on #328
Hello @studiocredo,

I think in order to get the refresh token you have to provide the "offline_access" scope.

[2020-06-21 17:12] claudiojuniorfabiao commented on #731
Same issue here, using latest version of @nuxtjs/auth-next package.

[2020-06-21 17:14] claudiojuniorfabiao commented on #731
Same issue here. Using latest version of @nuxtjs/auth-next package.

[2020-06-22 03:25] Salman-Kashfy commented on #398
I have built a work around for this and it is working pretty good.

nuxt.config.js
`router: {
        middleware: ['refreshJWT']
    },`

refreshJWT.js
![image](https://user-images.githubusercontent.com/28507426/85245469-17106800-b461-11ea-90d4-04a3848d6e3e.png)

import jwt_decode from 'jwt-decode';
export default async function ({$auth,$axios}) {
    let token = $auth.getToken('local','token');

[2020-06-22 05:52] CraftingGamerTom commented on #194
Can this be closed?

[2020-06-22 05:53] CraftingGamerTom commented on #699
I ran into the same issue. I began investigating. Here is what I found along the way:

## My findings (debugging my issues)

Debugging the error I found that the caller previous to where the issue shows up was getting a bad response from my server for the user information.
[Bad Server Response Pastebin](https://pastebin.com/9z6wq4Hx)
For reference: `line 278` [here](https://github.com/nuxt-communi

[2020-06-22 06:13] sirdiego commented on #716
Okay, I found that we have a completely different problem here. The backend rejects every request with an invalid token inside the `Authorization` header, since the expired bearer token will be sent to the refresh endpoint along with the refresh token the request gets rejected before even creating a new token. I solved this by setting `headers: { Authorization: '' }` in my refresh endpoint configu

[2020-06-22 12:57] JoaoPedroAS51 commented on #716
Hi @sirdiego! Good catch! I'll fix it :)

[2020-06-22 13:59] #716 closed

[2020-06-22 18:24] StanleyMasinde commented on #736
I've had no luck reproducing the error.

[2020-06-22 18:34] StanleyMasinde commented on #697
You are supposed to return the token you created for the user
[code]

The response will automatically be converted to JSON
though you can still
[code]

[2020-06-22 18:35] StanleyMasinde commented on #697
If you are authenticating a Single Page application, it is advisable that you use the cookie-based flow

[2020-06-22 18:36] StanleyMasinde commented on #672
What about this?

[2020-06-22 18:37] StanleyMasinde commented on #651
Just a mention? 🤣

[2020-06-22 18:43] StanleyMasinde commented on #571
Hi, @imranr970 This is how I do it.
![image](https://user-images.githubusercontent.com/35426405/85323729-36df7480-b4d1-11ea-8d97-53f09ed273de.png)
I call the redirect method after a successful login

[2020-06-22 23:24] minyou9 commented on #736
you should append __ to NUXT keyword both in front and back since the texteditor automatically convert those characters into the bold so it does not display correctly

`window.__NUXT__.state.auth.loggedIn = true`

[2020-06-23 02:43] altusgerona commented on #736
Holy shit it works. How does this happen??

[2020-06-23 03:20] minyou9 commented on #736
I am not sure that's why I reported on here, but seem like nobody interested in this issue, been 4 days already

[2020-06-23 04:00] StanleyMasinde commented on #736
Whooa that's so serious...
I think the team at nuxt is very overwhelmed we can try address these issues if we succeed we create a PR

[2020-06-23 04:01] StanleyMasinde commented on #736
I don't know why they defined nuxt on a window level.

[2020-06-23 04:48] StanleyMasinde commented on #736
I have tried that on my production app and it did not work. I guess it's just a bug in the demo

[2020-06-23 05:58] altusgerona commented on #736
What didn't? The auth state should be visible and mutable, no?

[2020-06-23 06:13] StanleyMasinde commented on #736
The `_NUXT_` object is not available. I'm using the dev version

[2020-06-23 10:40] silverbackdan opened #739 "[dev][feature] Client-side only auth"
I have an API which is authenticated via a cookie. It is http only, secure and same-site so the SSR login checks will not work, but the client-side will.

This results in a hydration error where the ssr and client-side rendering does not match. It'd be a nice feature to allow for this and when using login checks with `v-if` directives, this rendering issue does not happen.

Currently I'd have to s

[2020-06-23 19:51] minyou9 commented on #736
It should be available on the global object. I already tested mine in production `__NUXT__`
It should be a double dash `__` before and after nuxt :)

[2020-06-23 21:07] StanleyMasinde commented on #736
![image](https://user-images.githubusercontent.com/35426405/85462877-a9725200-b5ae-11ea-8f1d-b67554b27c2c.png)

[2020-06-23 21:47] minyou9 commented on #736
I am not sure why you don't have `__nuxt__` on console, but you could try alternative way here
`window.$nuxt.context.$auth.$state.loggedIn = true
true
$nuxt.context.$auth.$state.loggedIn = true
true`

[2020-06-24 05:14] StanleyMasinde commented on #736
It is accessible but here is the catch. After login is set to true, The auth module tries to fetch the user and gets a 401. this will automatically log you out. You can fool the client(This is always a risk) it is harder to fool a server.

Make sure your backend security is tight. Always have backend validation and middleware.

[2020-06-24 07:15] MrJmpl3 commented on #731
Somebody can help to this issue, reproduce the issue using CodeSandbox and Mocky? (https://designer.mocky.io)

Example: https://codesandbox.io/s/nuxt-starter-n4b6v-n4b6v

[2020-06-24 11:15] kfrederix commented on #328
In case anyone is interested, setting up PKCE flow with refresh tokens for Auth0 provider was pretty easy thanks to `@nuxt/auth-next`.
I used the following config to get it working:
[code]

[2020-06-24 12:51] alessandrocaprarelli commented on #713
We are facing the same issue.
Nuxt v2.13 has been released and we hope to use its runtime config feature to overcome this problem with this module.

[2020-06-24 15:01] antonsmolko opened #740 "Where did the token property go?"
Hi!
I updated package.json and now getting error when trying to get token

![2020-06-24_17-27-59](https://user-images.githubusercontent.com/20865516/85575576-5812a300-b640-11ea-89fc-8975c5af85ae.png)
![2020-06-24_17-27-24](https://user-images.githubusercontent.com/20865516/85575590-5b0d9380-b640-11ea-8781-e7fadc496a6f.png)

I tried to fix this by returning to the previous version ("@ nuxtjs / auth

[2020-06-24 16:23] JoaoPedroAS51 commented on #740
Hi @antonsmolko! Now the token instance is initialized inside scheme. You can access it using `this.$auth.strategy.token.get()`.

[2020-06-24 17:11] IsidroMar95 commented on #731
These are the versions I'm using
[code]
And this is the example with the issue: https://codesandbox.io/s/nuxt-starter-n4b6v-vb71z
in the console the error appears when i login and then logout
![image](https://user-images.githubusercontent.com/23019968/85601219-c9882c80-b613-11ea-973c-7d60ae55b7a6.png)

[2020-06-24 17:33] harsha935 commented on #142
@chanar Your httpOnly cookie came from Laravel API? So that cookie will show in the API request instead of storing in the browser, In that case, that cookie will disappear when you are refreshing the browser. what you did for persisting your httpOnly cookie?

[2020-06-24 18:13] vivekkairi commented on #258
Workaround:

So I had base url set to '/api' and all secured pages were getting redirected through 302.

Changed baseUrl to complete site url with https and it worked.
`axios: {
    baseUrl: 'https://mdsaban/api'
}`

[2020-06-24 18:14] vivekkairi commented on #478
Workaround:

So I had base url set to '/api' and all secured pages were getting redirected through 302.

Changed baseUrl to complete site url with https and it worked.
axios: { baseUrl: 'https://mdsaban/api' }

[2020-06-25 07:54] qmolab opened #741 "Handle callback only for specified routes excludes possibility of Nuxt running in a subdirectory on remote server"
### What problem does this feature solve?

As the title says, the _handleCallback function in the oauth2.ts script is the problem:

 async _handleCallback () {
    // Handle callback only for specified route
    if (this.$auth.options.redirect && normalizePath(this.$auth.ctx.route.path) !== normalizePath(this.$auth.options.redirect.callback)) {
      return
    }
https://github.com/nuxt-community/

[2020-06-25 08:41] zhangpengchen commented on #341
In 2020 you can try `loginWith('auth0', { params: { prompt: 'login', ui_locales: 'nl' } })`

[2020-06-25 12:05] antonsmolko commented on #740
Thank you!

[2020-06-25 12:05] #740 closed

[2020-06-25 14:23] omaratta212 commented on #658
I'm having the same CSRF issue, any idea how to fix this?

![image](https://user-images.githubusercontent.com/33264041/85738274-311ba600-b700-11ea-8d0f-fa846ecf8769.png)

[2020-06-26 10:49] pepeloper commented on #729
We had the same problem and used this workaround on `created` hook in our login page 👍

[code]

[2020-06-26 16:28] Phifo commented on #729
Same issue here. Meanwhile, the @pepeloper workaround works for me.

[2020-06-27 06:35] tol64 opened #744 "Laragon/Nginx + Laravel + Nuxt: 419 — CSRF token mismatch"
Please help me solve this task.

A series of lessons based on the material: https://youtu.be/KFgi3IqavK4

----------

Windows 10 operating system

Path to the project: **C:\laragon\www\larastart-project**

There are two folders in this directory:

 - **C:\laragon\www\larastart-project\backend**
 - **C:\laragon\www\larastart-project\frontend**

The first (backend) is the **Laravel** framework.

The

[2020-06-27 17:36] kevinzie commented on #744
I didn't get that error on my laragon when use auth api for laravel authentication .

[code]

Login.vue

[code]

I just followed the tutorial from dev.to

[https://dev.to/mrnaif2018/how-to-make-nuxt-auth-working-with-jwt-a-definitive-guide-9he](https://dev.to/mrnaif2018/how-to-make-nuxt-auth-working-with-jwt-a-definitive-guide-9he)

[2020-06-27 17:41] kevinzie commented on #729
same problem. I just use this on auth plugins and called asyncdata on secret page.

[code]

secretpage

[code]

but need to call user data everytime. :(

[2020-06-27 17:46] kevinzie commented on #712
Using this code below, and its work!

**Nuxt Config**
[code]

**Route**
[code]

**Logout Functions**
[code]

[2020-06-27 17:48] tol64 commented on #744
Thank you for the information! I'll be sure to try this option.

[2020-06-27 18:32] timhanlon commented on #725
@darthf1 thanks so much for this!

[2020-06-28 05:49] gilles6 commented on #712
https://oauth.net/2/grant-types/password/

[2020-06-28 12:09] haexhub opened #745 "Typescript Interface for Auth not correct"
### Version

[v4.9.1](https://github.com/auth-module/releases/tag/v4.9.1)

### Reproduction link

[http://nothing.com](http://nothing.com)

### Steps to reproduce

Implement multiple auth strategies and try to access them in a vue component like this.$auth.strategies for example. Typescript will throw an error, because in the Auth interface is only strategy implemented.

[code]

### What is expect

[2020-06-29 15:58] darthf1 commented on #725
Provided in https://github.com/nuxt-community/auth-module/pull/730 and https://github.com/nuxt-community/auth-module/pull/746

[2020-06-29 15:58] #725 closed

[2020-06-29 21:00] kevintechie opened #747 "oauth2RefreshTest.vue in the demo app is broken"
### Version

[v4.9.1](https://github.com/auth-module/releases/tag/v4.9.1)

### Reproduction link

[https://github.com/nuxt-community/auth-module/blob/dev/demo/pages/oauth2RefreshTest.vue#L119](https://github.com/nuxt-community/auth-module/blob/dev/demo/pages/oauth2RefreshTest.vue#L119)

### Steps to reproduce

1. checkout latest dev branch and install dependencies
1. launch the demo app
1. login u

[2020-06-30 01:08] kevintechie commented on #747
Is it now recommended to use the Storage class to get and update the tokens for this page? Will updating the tokens via the Storage also update the tokens passed by Axios?

[2020-06-30 04:49] kevintechie commented on #747
After some exploring, it looks like the token and refreshToken methods have moved to the strategy object. I might have a PR soon.

[2020-06-30 12:45] tol64 opened #748 "[Vue warn]: Cannot set reactive property on undefined, null, or primitive value: undefined"
Go to the Vuex tab in the Vue devtools browser extension.

![001.png](https://cmty.s3.eu-west-1.amazonaws.com/102371998/048b5190-bace-11ea-898b-f70adbea3385.png)

We see this result and the console displays errors.

![002.gif](https://cmty.s3.eu-west-1.amazonaws.com/102371998/2fa20cc0-bace-11ea-898b-f70adbea3385.gif)

![003.png](https://cmty.s3.eu-west-1.amazonaws.com/102371998/5c7ff360-bace-11ea-

[2020-06-30 16:48] tol64 commented on #748
After upgrading to version 5.3.3, the problem has disappeared:
https://github.com/vuejs/vue-devtools#manual-installation

[2020-06-30 16:48] #748 closed

[2020-06-30 20:11] propsoft commented on #731
Having the same issue 👍

[2020-06-30 22:04] yuruyuri16 opened #750 "$auth.loginWith() not working"
### Version

[v4.9.1](https://github.com/auth-module/releases/tag/v4.9.1)

### Reproduction link

[https://codesandbox.io/s/nifty-shtern-4lbdo](https://codesandbox.io/s/nifty-shtern-4lbdo)

### Steps to reproduce

* Go to ```/login```
* In console you will have the following warnings

./.nuxt/auth/schemes/oauth2.js 142:24-30
"export 'default' (imported as 'nanoid') was not found in 'nanoid'
./.nux

[2020-07-01 02:27] heyshadowsmith commented on #750
I have encountered this as well, and I have found what I believe the issue is.

If you go to `./.nuxt/auth/schemes/oauth2.js` and update this line...
`import nanoid from 'nanoid'` to this...
import { nanoid } from 'nanoid', it works.

But the second Nuxt's hot reload kicks in, it will revert it back to the broken state.

[2020-07-01 02:50] heyshadowsmith commented on #750
@yuruyuri16 I found a interim fix that works until this is patched!

I fixed this issue by adding nanoid 2.1.11 as a direct dependency in my project by running...
`npm i nanoid@2.1.11`

[2020-07-01 09:32] vejja commented on #731
Same

[2020-07-01 10:14] Will-Burgon commented on #750
Thanks @heyshadowsmith, will try this later, been bugging me for the last few hours that I have to change the import of nanoid in the ` ./.nuxt/auth/schemes/oauth2.js` file everytime the app rebuilds.

[2020-07-01 19:43] kevintechie commented on #747
@JoaoPedroAS51 can you confirm my findings about moving of the token and refreshToken methods?

[2020-07-01 19:53] agravelot commented on #740
The documentation needs to nbe updated accordingly : https://dev.auth.nuxtjs.org/api/tokens.html

[2020-07-01 20:47] JoaoPedroAS51 commented on #747
Hi @kevintechie! Thank you for your report! :)

Yes, now the token and refreshToken instances are initialized inside scheme (strategy).

**Note:** This might change in a future release.

[2020-07-01 20:47] #747 closed

[2020-07-01 20:51] JoaoPedroAS51 commented on #747
Fixed in latest commit 😊

[2020-07-02 03:06] kevintechie commented on #747
Thanks, so much. Your commit looked exactly like the changes I made. Also, thanks for the quick response.

[2020-07-03 04:41] ponnex commented on #707
Having the same problem also, it does not rediret to `/home` and `$auth.loggedIn` is `false`

[2020-07-03 06:30] ponnex commented on #731
Same hope this get's fixed or the error gets ignored at least

[2020-07-03 09:27] 1070rik commented on #729
Seems like nxut auth it getting a 401 from Laravel even though all the headers and cookies seem to be fine. So it might also be related to Laravel?

[2020-07-03 14:31] ziadomar97 commented on #750
Hi, have you solved the problem؟

[2020-07-05 11:53] Micka33 commented on #274
I still have this issue in my NuxtJS project...
[code]

Not sure what to do to fix it...

[2020-07-05 13:11] vuanhnguyeen commented on #731
I had the same problem too. It took me all day to find out why. I accidentally turned off target: 'static' in nuxt.config.js. My app working success and works properly. You should try ``` //target: 'static' ```
https://nuxtjs.org/blog/going-full-static/

[2020-07-05 15:01] Greenfig commented on #274
@Micka33 did you add "@types/nuxtjs__auth" to your types array in the tsconfig.json?

[2020-07-05 18:53] ctwhome commented on #297
need it

[2020-07-05 22:44] Dimidel commented on #731
I finally found a solution to avoid this error:

1. Add **home: false** to the redirect config
[code]

2. Add the redirect after being logged. In my case :
[code]

Hope this will help

[2020-07-06 06:56] yobottehg commented on #713
Same issues here. Any approach on how to do this until the auth module can handle the runtime config?

[2020-07-06 07:29] Organizzzm commented on #713
With the Nuxt v2.13 we do it though the [extending auth plugin](https://dev.auth.nuxtjs.org/recipes/extend.html). Into plugin you can change $auth options to [$config](https://nuxtjs.org/api/configuration-runtime-config) options. It works fine as a temporary solution.

[2020-07-06 08:06] yobottehg commented on #713
Can you give an example on what you exactly changed in the $auth config? Because i can't find any api url there.

[2020-07-06 09:59] Micka33 commented on #274
Just did it, and my editor displays the following:
<img width="455" alt="Screenshot 2020-07-06 at 11 57 41" src="https://user-images.githubusercontent.com/3918958/86581151-004d3380-bf80-11ea-8e7f-cfd967f0e65c.png">

Should install something more than `@nuxtjs/auth` ?

[2020-07-06 11:01] basiteaal commented on #731
Still same issue here.

Login works excellent including the me/user call. URL in address bar is changed as we would expect; the content is loaded as well but the only thing visible is the login page.
However; if I reload I keep the login state (= good) and the token as well and I'll see the correct content.

What to do?

Thanks.

[2020-07-06 11:06] basiteaal commented on #707
Same issue here. Any fix?

[2020-07-06 11:32] antony989 opened #752 "This is Bug?"
Version
^4.9.1 & 5.0.0(dev)

OS: Ubuntu 16.04 LTS
Node: v13.2.0
Backend: strapi

**What is expected ?**

first all works fine.
![imgur](https://i.imgur.com/myG99f7.png)
![imgur](https://i.imgur.com/tt5b7xY.png)

**Status Code: 200 OK**
GET /v1/users/me HTTP/1.1 Host: 127.0.0.1:300 Connection: keep-alive Pragma: no-cache Cache-Control: no-cache Accept: application/json, text/plain, */* Authorizatio

[2020-07-06 15:39] ylegare commented on #713
Hello,

I have the same issue. I would like to change the clientId like this and use it later in the nuxt.config.js :

`
export default {
  mode: 'universal',
  publicRuntimeConfig: {
    CLIENT_ID: process.env.CLIENT_ID
  },
  auth: {
    strategies: {
      aad: {
        scheme: 'oauth2',
        endpoints: {
          authorization: 'https://example.com/connect/authorize',
          token: 'ht

[2020-07-06 18:01] leonelsanchesdasilva commented on #707
@basiteaal Check my solution here: https://github.com/nuxt-community/auth-module/issues/58#issuecomment-635763044

[2020-07-07 00:44] Soviut commented on #750
@Will-Burgon you should never touch any of the files in the `.nuxt` directory.

[2020-07-07 01:41] yuta17 opened #753 "Is there a document for setting jwt to httponly cookies?"
Please tell me if there is any information about that.

[2020-07-07 17:31] rawgen opened #755 "auth x https - wrong redirect to http"
My stack nuxt with auth module and laravel/socialite have a stranger change in url when call a callback path.

my laravel auth redirect the token to **https**://mysite.com/auth/social-callback?token=[mytoken]
but the nuxt/auth have gerenate a redirect http-code 301 to **http**://mysite.com**:8080**/auth/social-callback?...

to eliminate causes with origins at laravel or nginx, I isolate the rules

[2020-07-07 18:39] yuruyuri16 opened #756 "Get token from google"
### Version

[v4.9.1](https://github.com/auth-module/releases/tag/v4.9.1)

### Reproduction link

[https://codesandbox.io/s/github/yuruyuri16/twitter-clone-client/tree/feature/defaultlogin](https://codesandbox.io/s/github/yuruyuri16/twitter-clone-client/tree/feature/defaultlogin)

### Steps to reproduce

1. Go to ```/login```
2. Log in with google
3. Go to ```/secure```
4. Token does not show up

[2020-07-08 15:39] gilles6 commented on #755
@rawgen  Please, put this before and after your code  ``` to make your code more readable.

[2020-07-08 17:17] rawgen commented on #755
For a reason not yet justified, my nginx generated a failure.
We make a partial soliction around, where:
https://mysite.com/auth/social-callback receives a 301 redirect from the server, changing the url to http://mysite.com:8080/auth/social-callback

After force by code a / into url, the problems are apparently solved.
i.e.,
[code]
have success.

Sorry por wrong issue. Tks.

[2020-07-08 18:57] gerardolopezduenas commented on #283
Actually setCookie method accepts options object https://github.com/nuxt-community/auth-module/blob/3f0073bc341c1bd19c3da1db6034f42e9414dfb7/src/core/storage.ts#L231  have you tried it yet? does not it work?

[2020-07-08 19:15] ckcollab commented on #283
@gerardolopezduenas not super familiar with this stuff, how would/should I make nuxt-auth-module setCookie with this option?

[2020-07-08 22:42] #736 closed

[2020-07-09 06:02] caroait commented on #134
I was fighting with this error too and I solve it adding this line before redirect to the login

`$auth.$storage.setUniversal('redirect', path)`

[2020-07-09 06:03] caroait commented on #205
I was fighting with this error too and I solve it adding this line before redirect to the login

`$auth.$storage.setUniversal('redirect', path)`

[2020-07-09 09:48] basiteaal commented on #707
@leonelsanchesdasilva Thanks for your suggestion. We've fixed it with a very simple window.reload but I actually think this is a bug.

[2020-07-09 12:56] gilles6 opened #757 "How to call my logout api with this.$auth.logout() when using laravelPassport strategy ?"
How to call my logout api with `this.$auth.logout()` when using `laravelPassport` strategy in `nuxt.config.js` ?

I'm using `"@nuxtjs/auth-next": "^5.0.0-1593636531.bdce83a"`

[2020-07-09 13:07] dev-gaster commented on #707
I am trying to use Nuxt Auth with oauth google Strategy for logins, the code works but after am redirected to my call back url, i have failed to get the token or even set the user to loggedIn,

Any workarrounds

[2020-07-09 22:39] ArthurDanjou opened #758 "JavaScript heap out of memory with Nuxt v.2.13.0 & nuxtjs/auth v.4.9.1"
### Version

[v4.9.1](https://github.com/auth-module/releases/tag/v4.9.1)

### Reproduction link

[https://github.com/ArthurDanjou/ArtdonisJS](https://github.com/ArthurDanjou/ArtdonisJS)

### Steps to reproduce

I created the back-end side with adonisJs v5.
I create a nuxt app with 'yarn create nuxt-app'.
I installed the modules nuxt-auth, nuxt-axios & nuxt-proxy.
I configured my nuxt.config.js.

[2020-07-11 13:35] vesper8 commented on #517
sigh.. I have exact same issue.. server returns authorizing token as header.. and nowhere in docs does it say how to handle this. Did you find a solution @sergiocastrovale @flyingboy007 ?

[2020-07-11 13:46] vesper8 opened #759 "how to capture authorization token when returned as response header?"
I don't see anywhere in the docs on how to handle this scenario. The /api/auth/login endpoint does not return the token in the body but rather as a header.

[code]

How can I instruct the nuxt-auth module to set the authorization token when it is returned in such a way please? Anyone?

[2020-07-11 14:55] flyingboy007 commented on #517
No. I updated the server to return it in body. Not that happy with this
solution. But until I find a way  I will keep it like this.

On Sat 11 Jul, 2020, 7:05 PM C-Bass, <notifications@github.com> wrote:

[2020-07-11 21:13] tobsch commented on #735
As far as i see this, this code has to be used to get the corrcet token from the ```access_token_endpoint``` endpoint. The doc states, that google uses the same mechanism but I did not find it so far.
Would very much appreciate hints too.

[2020-07-12 15:34] #753 closed

[2020-07-12 16:04] antonsmolko commented on #716
Please can explain in detail - where did you specifically set the headers? I cannot solve a similar problem yet.

[2020-07-12 18:58] minifjurt123 opened #760 "Add onLogin & onLogout hooks"
### What problem does this feature solve?

It allows for users to add custom functionality in one place.

### What does the proposed changes look like?

[code]

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/auth-module/issues/c616">#c616</a>)</em></sub></div>

[2020-07-12 21:10] tobsch commented on #735
ok, ok. it's called "token_endpoint" and as far as I understand it, the token has to be downloaded by the auth provider.
And for this, a linkedin provider has to be implemented and "addAuthorize" called. see the providers that are part of this package (eg: github).

Any ideas how this can be implemented outside of the node package? eg: as nuxt plugin?

[2020-07-13 13:34] nerdial opened #761 "How to implement refresh token through nuxt auth ?"
Hello folks,

I have been trying to find a way to implement refresh token functionality with nuxt auth module, i tried a lot and even read the source code but i could not find a good example to implement it. It seems in new version of nuxt something is missing, some
methods are not there anymore and docs says it is.

**what is that strategy people are talking about ? and how to use it ?
Could some

[2020-07-13 17:03] gerardolopezduenas commented on #283
you can do something like this:

[code]
you can confirm it works in the browser
<img width="1017" alt="Screen Shot 2020-07-13 at 12 00 39" src="https://user-images.githubusercontent.com/6099223/87332137-c42a4d80-c500-11ea-8caf-b788f0231b04.png">

[2020-07-13 20:19] ckcollab commented on #283
thanks for the example, really appreciate it @gerardolopezduenas

[2020-07-14 02:52] estylehq opened #763 "I want to use client token until getting access token."
[code]

We created client token for guest user (not logged in user).

so I want to use client token before logged in.

I use custom strategy (extends from local), client token(with id, secret) likes oauth2.

I just defined custom strategy only.

[code]

I tried got client token to ```$axios.common.header```, but it seems makes ```null``` after moving other page(s).

request header hasn't ```Author

[2020-07-14 14:31] JoaoPedroAS51 commented on #761
Hi @nerdial! You can check the updated docs here: https://dev.auth.nuxtjs.org/

[2020-07-14 18:13] codeofsumit commented on #725
@darthf1 I tried to follow your example but I'm not getting a refresh token either.

This is my config:

[code]

Do you have an idea what I'm doing wrong?
Login/Logout works fine, but no refresh token in my cookies 🤔

![image](https://user-images.githubusercontent.com/2399810/87461199-58360b00-c60e-11ea-9bd4-caf44ae3ac17.png)
![image](https://user-images.githubusercontent.com/2399810/87461236-6c7a

[2020-07-14 22:45] darthf1 commented on #725
Did you check your application type? Did you  enable offline access in the auth0 API settings?

[2020-07-15 06:46] codeofsumit commented on #725
Hey @darthf1

I have allowed offline access in the custom API Details whose identifier URL I pass in the "audience" parameter

![image](https://user-images.githubusercontent.com/2399810/87512513-708e4000-c677-11ea-995d-95f8ec9325b7.png)

Application Type is currently "Single Page Application". I tried with "Native Application" and "Regular Web Application" as well. What's the correct setting here?

[2020-07-15 07:46] luucongthin commented on #758
Same issue here. Do you solved the problem ?

[2020-07-15 07:54] darthf1 commented on #725
Its just above your first post. This is what worked for me, dont know if its the 'correct' one.

[2020-07-15 08:10] codeofsumit commented on #725
@darthf1 yea that's what I tried. Looking at the client cookies though, still shows refresh tokens as `false` 🤔 .
What else could it be?

[2020-07-15 19:08] bpeab commented on #729
Same here.

Also, I initially implemented the auth process (getToken, revokeToken, refreshToken) without `auth-module` and switched to `auth-module` after having this issue without it. Now that I have fully implemented the same process but with `auth-module`, I am facing the exact same problem.

Note that in my case, I use the `local` scheme and it's not related to Laravel which I don't use.

[2020-07-15 20:46] Hamidrezana opened #764 "Error when using vuex-module-decorators and @nuxtjs/auth together"
I am using nuxtjs with typescript and use vuex-module-decorators. but I get error when add `@nuxtjs/auth` to my project.

This error happen when call Action.

When `@nuxtjs/auth` from modules it's ok.

*store/index.ts*
[code]
*utils/store-accessor*
[code]

[2020-07-16 06:40] seabdulsamad opened #765 "Need the auth directive to handle the callbacks on components"
### What problem does this feature solve?

I have to show the data in both cases with and without auth. But without auth the click event should render a login dialog instead of actual callback.

I have written a directive but I am unable to unbind the click event listener from vnode component.

### What does the proposed changes look like?

I have to show the data in both cases with and without au

[2020-07-16 07:26] bilthon commented on #321
This seems to still be happening to me with the following versions:

[code]

I'm using regular sessions and not jwt. Or at least trying to, I might have messed up something with my configuraiton. Here's the relevant part of the `nuxt.config.js`:

[code]

Here's a link to a stripped version of my project with only the authentication bit present:
https://github.com/bilthon/nuxt-auth-demo

[2020-07-16 11:44] yurriiy commented on #761
Hi @JoaoPedroAS51 is this work in 4.9.1 ?

[2020-07-16 14:07] ArthurDanjou commented on #758
@luucongthin No I don't. I am waiting for solutions !

[2020-07-16 14:41] JoaoPedroAS51 commented on #761
Hi @yurriiy! No, this is for v5, but it wasn't released yet. If you want to use the dev version, you can install the package `@nuxtjs/auth-next`. Then follow the documentation above :)

[2020-07-16 14:43] JoaoPedroAS51 commented on #321
Hi @bilthon! This issue was fixed in the dev version. You can use it by

[2020-07-16 14:54] JoaoPedroAS51 commented on #321
Hi @bilthon! This issue was fixed in dev version, but it will only be released in v5. For now you can use the package of dev version `@nuxtjs/auth-next`. Then try to use [cookie scheme](https://dev.auth.nuxtjs.org/schemes/cookie.html).

Please, check the updated docs because we changed a lot of things: https://dev.auth.nuxtjs.org/

(Sorry for accidentally closing the issue)

[2020-07-17 07:34] ojacquemart commented on #761
@yurriiy you should install `@nuxtjs/auth-next`

[2020-07-19 01:55] renztoygwapo commented on #134
Hi @caroait can you show me your code where did you put that ?

Thanks

[2020-07-19 17:42] tobsch opened #769 "LinkedIn Provider: Requires client_secret"
I got everything working for linkedin. It needs to have a local ```access_token_endpoint```as the original one (https://www.linkedin.com/oauth/v2/accessToken) is not allowing CORS.

One detail that has to be added to the oauth2 module to support linkedins requirements would be: Passing the "client_secret" parameter.
See https://developer.linkedin.com/docs/v2/oauth2-client-credentials-flow

Could y

[2020-07-19 23:04] caroait commented on #134
Hi @renztoygwapo I use it before do `$auth.login()`

[2020-07-20 05:33] tobsch commented on #735
after investing some more time and writing an own api middleware, we've got it working.
Only thing that needs to be done is this #769

[2020-07-21 02:25] csj110 opened #770 "ReferenceError, can't find private variable @DerivedConstructor"
### Version

[v4.9.1](https://github.com/auth-module/releases/tag/v4.9.1)

### Reproduction link

[http://hyxt.nbgh.gov.cn/wechatPage/home](http://hyxt.nbgh.gov.cn/wechatPage/home)

### Steps to reproduce

when auth-module is added to nuxt project, it affects the axios module, in some apple devices(iphone 7 and iphone6),not all these devices(some iphone device works well,while others not),'Referen

[2020-07-21 03:17] #770 closed, assigned to nobody

[2020-07-21 10:22] Philschke commented on #559
When I attach the redirect_uri in the logout endpoint the created logout uri is something like this
[http://keycloak-url.de:keycloak-port/auth/realms/client-id/protocol/openid-connect/logout?redirect_uri=http://localhost:2000?client_id=client-id&logout_uri=http://localhost:8000](url)

So there is a **double initialization** of the Attributes, as there are **two question marks** in the url and that

[2020-07-22 07:22] freddy-daniel opened #771 "How to logout using routes"
I found i can logout by calling `this.$auth.logout()` but i need to execute logout when user route to `/logout` path. I can't find this option anywhere in doc, Only i got config option to set path to redirect after logout success. But i need to trigger logout with route

[2020-07-22 08:31] dschewchenko commented on #771
There is no option for this. You can create page for logout and call this.$auth.logout()

[2020-07-22 15:15] alperkarahisar opened #772 "oauth2 scheme throws nanoid error in v4."
When oauth2 scheme is used, nanoid generates the error given below with version "^4.9.1".

TypeError: Object(...) is not a function
    at Oauth2Scheme.login (oauth2.js?3a82:92)
    at Auth.login (auth.js?facc:131)
    at eval (auth.js?facc:123)

import nanoid from 'nanoid'
code must be changed to
import { nanoid } from 'nanoid'

which is fixed in version 5.

[2020-07-23 08:37] b1rdhous3 commented on #772
Is also fixed with this:
https://github.com/nuxt-community/auth-module/issues/750#issuecomment-660761642

[2020-07-23 14:49] thomas4Bitcraft commented on #735
@tobsch Can you share your solution how to implement it?

[2020-07-23 21:30] RokasDie opened #773 "How to create backend call for Google oAuth"
Hello,

I tried using both @nuxt/auth and @nuxt/auth-next, however, I am not able to do this sequence:

1. I click on button which has a method attached: ```@click="$auth.loginWith('google')"```
2. The user gets redirected to google login
3. After logging in, there should be a payload sent to the provided token endpoint with payload: code and any other details

What happens is that after google lo

[2020-07-24 17:21] RokasDie commented on #773
It seems that I needed to add ```app.use(express.urlencoded());``` to express backend to have payload details

[2020-07-24 17:21] #773 closed

[2020-07-25 18:42] RokasDie opened #775 "v5 - Correct google oAuth with Nodejs"
Hello,

I have spent two days already on this and I cannot seem to get it to work. What i want to do:

1. In login page user clicks login with google.
2. He goes to google page selects his account and confirms
3. After this he is redirected to "loading" page.
4. After I get information from backend I save it in this.$nuxt.$auth.user and have it as loggedIn

Here is my front end strategy setup:
[co

[2020-07-25 23:33] JoaoPedroAS51 commented on #775
Hi @RokasDie! I think the problem is that your token endpoint is returning the user instead of the tokens. The user must be returned in userInfo endpoint.
[code]

Then in your `nuxt.config` set the tokens properties:
[code]

[2020-07-26 07:17] RokasDie commented on #775
Okay this seems logical, however, how do I decode what user is in userInfo endpoint? I have to read it from authorisation request header?

[2020-07-27 15:20] gitsakil09 opened #776 "Fetching User after login even though autoFetchUser is set false"
I have followed the instructions but still It is trying to fetch the user after login request. For example when i try to login my system returns me a message, what I want is to display that message but auth is automatically calling the user routes and when the credentials are wrong then it is setting the undefined as token value.
My Nuxt configs are here..

[code]

BTW I am getting the user info n

[2020-07-27 21:44] zachu90 commented on #270
Did you resolve this? I also have a problem

[2020-07-28 03:32] PlusA2M commented on #93
@canhkieu I am running in the same issue and try to use your codes to start, but my app start to error `Class constructor ApolloScheme cannot be invoked without 'new'`, I think it's babel related, is there anything that I should add to the `nuxt.config.js`?

[2020-07-29 12:16] damafeez opened #780 "How do I extend OAuth2 Scheme?"
I am trying to create a new scheme that extends off of `OAuth2`. Like so:
[code]

I get this error ```ERROR in ./node_modules/@nuxtjs/auth/lib/schemes/oauth2.js
Module not found: Error: Can't resolve '../utilities' in '/Users/afeezawoyemi/workspace/P/logistics-config-ui/node_modules/@nuxtjs/auth/lib/schemes'```

It appears the `utilities` module is indeed not present in the specified relative path

[2020-07-30 06:49] freddy-daniel commented on #170
Is there any update on this topic ?

[2020-07-30 06:52] freddy-daniel opened #781 "Two-Factor Authentication #170"
Need to support 2FA
re-opening https://github.com/nuxt-community/auth-module/issues/170

[2020-07-31 06:19] RALGIE opened #784 "oAuth2 session on server, no logout endpoint available"
Hello,

I'm using the oAuth2 plugin with "@nuxtjs/auth": "^4.9.1"; When I logout on the client I'm redirected to the login page. My cookie is deleted and I'm on the client site no longer logged in. But on the server site I'm still logged in. Because when I try to login I'm redirected to the main page. Without entering my credentials. When I display the documentation (https://auth.nuxtjs.org/scheme

[2020-08-01 09:34] nerdial commented on #761
Is there any way to add more data to refresh token request api ?
 it simply just sends  remember token i need to send more data to my custom api
@JoaoPedroAS51

[2020-08-02 19:45] borisdayma opened #786 "Add AWS Amplify Auth service as a Provider"
### What problem does this feature solve?

With the popularity of [AWS Amplify](https://docs.amplify.aws/) for creating quickly backend (files, lambda functions, auth through Cognito…) and host apps, it would be great to add direct support to it through nuxt-auth module.

### What does the proposed changes look like?

With this integration, we will be able to easily protect pages and set up which

[2020-08-03 00:21] talal424 commented on #776
```autoFetchUser``` should be added to ```local``` not ```strategies```

this would disable fetching user after a successful login. if you want disable it entirely set ```user``` to ```false```

change ```propertyName```'s value to ```token``` there is no need for ```data.token``` unless the response's data is like ```{user:{}, data:{token:''}}```

to show any errors in user input from backend lik

[2020-08-03 05:52] louisluu commented on #139
Tried setting `resetOnError: true` and nothing happened.

According to the [document](https://auth.nuxtjs.org/api/options.html#resetonerror), it accepts **function** as well, so tried:

[code]

When 401 happens, nothing is printed in the console.

Searching the source code and found its used in https://github.com/nuxt-community/auth-module/blob/dev/src/core/auth.ts#L35 but I tried setting up auth

[2020-08-03 13:16] NickBolles commented on #780
Might be fixed by https://github.com/nuxt-community/auth-module/pull/774? @timrchavez @JoaoPedroAS51

[2020-08-03 13:44] NickBolles commented on #711
@cardaddy can this be closed now?

[2020-08-03 13:47] cardaddy commented on #711
yes

On Mon, Aug 3, 2020 at 9:44 AM Nick Bolles <notifications@github.com> wrote:

--

George Christman

This e-mail may contain confidential, proprietary information on Zigster.
It is intended solely for the name recipient(s) listed above and should be
maintained in strictest confidence. If you are not the intended recipient,
you are hereby notified that any disclosure, copying, distribution, or

[2020-08-03 15:00] damafeez commented on #780
#### TL/DR? WHAT'S THE RIGHT WAY TO USE/REFERENCE THE MORE UP TO DATE BRANCHES IN MY CODE?

Digging a little deeper, I see the issue originated from this [line](https://github.com/nuxt-community/auth-module/blob/a9d3f6c302e37c3149cf80cb912a1c3faa8f9d66/lib/schemes/oauth2.js#L1) of the [4.9.1 release](https://github.com/nuxt-community/auth-module/releases/tag/v4.9.1) (the latest official release, w

[2020-08-03 17:30] canhkieu commented on #93
@PlusA2M Sample config for auth with apollo-scheme
[code]

[2020-08-03 17:44] rmirabelle commented on #731
Same. The workaround works well.  But of course, having to manually redirect after login sort of defeats the purpose.

[2020-08-04 02:21] PlusA2M commented on #93
@canhkieu Thanks for your help! Though I found that I need to use `scheme` property instead of `_scheme` property in the `nuxt.config.js`, don't know why yet but I'm using the `@nuxtjs/auth-next` module at the moment.

[2020-08-04 04:06] Dpezz commented on #134
i resolve this add in vuex-persist.js plugin:

`new VuexPersistence({
      ...
      strictMode: true,
     ...
    }).plugin(store);`

[2020-08-04 17:16] paulobressan opened #789 "How to get Facebook people information on login"
Hi everyone,

I trying to use Nuxt auth module with my application, but I need to register the user when he redirected, however, I need to get information (name, email). The application has a callback page, but not have information in the context in asyncData. Please, help-me

Thanks

[2020-08-05 14:27] titoff002 opened #790 "pb with auth-module or @nuxtjs/auth-next, help me please"
Hello,

The connection process it's ok with dev.auth.nuxtjs.org and keycloak.

On the other hand, once the login and password: I go back to my nuxtjs app, but the values (**this.$auth.user**/**this.$store.state.auth.user**) ​​are empty.

![image](https://user-images.githubusercontent.com/24948237/89424068-9919cf00-d737-11ea-9610-d422bb5b773b.png)

What must be done to make it work?

Do you have an

[2020-08-05 21:45] titoff002 opened #791 "pb oauth2"
hello
i'have a problem with '@nuxtjs/auth-next' with keaycloak, the function this.$auth.loginWith('keycloak')  => this function works correctly, but the other functions do not: they return nothing or null. can you help me ? Have you a complet sample code ?

[2020-08-05 21:45] titoff002 commented on #790
i'have a problem with '@nuxtjs/auth-next' with keaycloak, the function this.$auth.loginWith('keycloak')  => this function works correctly, but the other functions do not: they return nothing or null. can you help me ? Have you a complet sample code ?

[2020-08-05 21:46] titoff002 commented on #784
hello
i'have a problem with '@nuxtjs/auth-next' with keaycloak, the function this.$auth.loginWith('keycloak')  => this function works correctly, but the other functions do not: they return nothing or null. can you help me ? Have you a complet sample code ?

[2020-08-06 07:30] takahashi-nf opened #792 "Invalid scope error when login with Facebook"
### Version

[v4.9.1](https://github.com/auth-module/releases/tag/v4.9.1)

### Steps to reproduce

My setting in nuxt.config.js:
[code]

### What is expected ?

Query to facebook:
&scope=public_profile,email

### What is actually happening?

Query to facebook:
&scope=public_profile+email
--> need ',' not '+'

Facebook returns following message.
Invalid Scopes: public_profile email.

<div align="ri

[2020-08-07 08:46] burning-papaya commented on #739
Another problem with client-only auth is middleware. If you stay on a page requiring user to be authenticated after page refresh user is sent to login page

[2020-08-08 23:43] salvadorcea opened #794 "npm run dev works npm run build not"
### Version

[v4.9.1](https://github.com/auth-module/releases/tag/v4.9.1)

### Reproduction link

[https://qa.mi.chileatiende.cl/login/claveunica](https://qa.mi.chileatiende.cl/login/claveunica)

### Steps to reproduce

Configure auth to use laravel.passport strategie with url, client id and client secret.
Secure page with  middleware: ['auth'],
Local deploy with npm run dev :  Everything works fi

[2020-08-11 05:30] seeARMS commented on #729
For SSR, I'm also having this problem. NodeJS backend.

Looks like this line is the problem: https://github.com/nuxt-community/auth-module/blob/dev/src/schemes/cookie.ts#L27

I'm getting the following exception thrown:

[code]

[2020-08-12 10:07] malobaidan commented on #731
well I was facing the problem fixed it by by converting the method to async await, the router was trying the push the path and did not wait for the creds to be received from the server

[2020-08-12 10:57] StanleyMasinde commented on #731
I didn't know it was a promise

[2020-08-12 11:59] jas777 opened #796 "Failed to read the localStorage"
### Version

[v4.9.1](https://github.com/auth-module/releases/tag/v4.9.1)

### Reproduction link

[https://aurora.codeforge.cf/](https://aurora.codeforge.cf/)

### Steps to reproduce

Sign in -> Connect with GitHub -> look at debugger, sometimes appears in page title

### What is expected ?

Nothing

### What is actually happening?

It throws this error: https://questionable.link/0BPRQX.png

### A

[2020-08-12 19:43] #796 closed, assigned to nobody

[2020-08-12 20:40] jas777 opened #797 "Endless refresh loop after deleting cookies"
### Version

[next](https://github.com/auth-module/releases/tag/next)

### Reproduction link

[https://aurora.codeforge.cf](https://aurora.codeforge.cf)

### Steps to reproduce

Sign in with GitHub
Remove cookies
Refresh

### What is expected ?

The page should not refresh

### What is actually happening?

It's stuck in an endless refresh loop

### Additional comments?

(auth-next in case cmty cha

[2020-08-13 00:13] #789 closed

[2020-08-13 08:08] dgvai opened #798 "middleware => auth: 'guest' not redirecting to home page."
I am using **route based middleware** (not globally in ``nuxt.config.js``),

In my pages/login.vue, I set:

[code]

**Expecting that**, after I logged in, if I manually load `mysite.com/login` (manually from browser), it should have redirected to` '/'`

### But this is not working! Not redirecting!

[2020-08-14 18:16] mas-iota commented on #144
@Timibadass Add **autoFetchUser: false** to your strategy object in nuxt.config.js, e.g:
[code]

Then after getting a successful login response, set the user manually:
[code]

[2020-08-17 02:03] michaelize commented on #764
I also have the same issue here.

[2020-08-17 02:53] michaelize commented on #764
with `vuex: false` set in nuxt.config.js, I created a auth.ts file under the `store` folder:

[code]

It seems to be working so far. This is only a workaround.

[2020-08-17 08:46] NiciusB opened #801 "When `fullPathRedirect` is enabled, redirections still keep the query string"
### Version

[v4.9.1](https://github.com/auth-module/releases/tag/v4.9.1)

### Steps to reproduce

- Enable fullPathRedirect in the config
- Enter a login-protected page that has query strings, like `/secret-page?page=2`
- You'll get redirected to `/login?page=2`

### What is expected ?

The description for `fullPathRedirect` is
[code]

I interpret that as if the query parameters are taken into ac

[2020-08-18 05:06] PlusA2M opened #802 "redirect cause `Cannot set headers after they are sent` error"
### Version

v5.0 (latest development build)
~~[v4.9.1](https://github.com/auth-module/releases/tag/v4.9.1)~~

### Reproduction link

[https://github.com/nuxt-community/auth-module/blob/dev/src/core/middleware.ts#L20:L24](https://github.com/nuxt-community/auth-module/blob/dev/src/core/middleware.ts#L20:L24)

### Steps to reproduce

1) Set any page with `auth: 'guest'`
2) Error on server-sides `Can

[2020-08-18 14:45] jper92 commented on #559
@Philschke you should not specify the `redirect_uri` in `endpoints.logout` but by using the `logoutRedirectUri` documented [here](https://dev.auth.nuxtjs.org/schemes/oauth2#logoutredirecturi).

[2020-08-19 08:32] StanleyMasinde commented on #798
Hello please stop shouting. You are not entitled to anything. furthermore, the team has a lot to cover

To the issue, yes it does not seem to work correctly so I implemented the middleware myself.

You can always PR the changes you want.

[2020-08-19 09:43] RALGIE commented on #784
hello @titoff002,

I 'm using @nuxtjs/auth and not the @nuxtjs/auth-next version. I can't help you.

[2020-08-19 13:22] besteinert commented on #559
@jper92 Specifying the `redirect_uri` by using the `logoutRedirectUri` leads to a created logout url that ends with `&logout_uri=http://localhost:8000`. In my case, this type of redirect seems not to work, it leads to a blank page instead.

When the url parameter is manually changed to `redirect_uri` instead of `logout_uri` everything works fine and as expected.

Why is the redirect not working wi

[2020-08-19 16:41] 23brewert opened #804 "Please add Discord Oauth2"
### What problem does this feature solve?

I am trying to make nuxt OAuth2 useable with Discord When you make a request to discord it returns a token you can use to access user data such as guilds and the account id and name. It would be very useful if you could add it or help me edit the current auth module to do so.

<div align="right"><sub><em>This feature request is available on <a href="https

[2020-08-24 16:08] Zhythero commented on #737
I managed to create a workaround for this.
I sent my login credentials manually via axios and then have my back-end return the authenticated user, then put that user as the logged in user via `this.$auth.setUser(user)`.

[2020-08-25 16:08] YannickSilva opened #805 "User doesn't authenticated after login"
Hello guys i'm using nuxt auth module to authenticate, my backend is fine. After i login the token is stored in local storage and also the user data is returned,but whenever i try to check if it's authenticated it returns false. Can someone help me with this ?

[2020-08-25 16:15] sergiocastrovale commented on #789
How did you solve this @paulobressan?

[2020-08-25 21:12] acidjazz opened #806 "Is there a busy state I can use before we know the user is logged in?"
I'd like to show a proper loading bar while I detect if the user is still logged in.

I noticed in `src/core/auth.ts` you're getting and setting a `busy` attribute

https://github.com/nuxt-community/auth-module/blob/6ab4c1e71bb03d9a588fc82f2120cedac7588af3/src/core/auth.ts#L250

Is this accessable? I tried going after `this.$auth.$state.busy` but I get undefined.

[2020-08-25 23:12] acidjazz opened #807 "Feature request: sentry support"
Currently I do this in my layout:

``js
export default {
  created () {
    if (this.$auth.loggedIn)
      this.$sentry.configureScope((scope) => {
        scope.setUser({
          id: this.$auth.user.id,
          email: this.$auth.user.email,
        })
      })
  },
}```

Works great, would be sweet if this module supported something like this itself

[2020-08-26 02:05] antony989 commented on #729
me too I'm using nuxt ssr with Python Backend. (local schema)

[2020-08-26 06:24] santas156 commented on #805
Show your
nuxt.config.js
and function (method) login

[2020-08-26 06:27] santas156 opened #808 "After success login, i have always 1 extra request every time refreshing the page"
After success login, i have autoFetchUser out of the box, and it`s working fine, and user is set in vuex store.
But when i refreshing the page, i have 1 extra request **/api/user/**
My all app is waiting for that request. After it finished, i have in response a user data, and then user in set to vuex store.
So every time i refresh the page? my all app is in guest mode and then flicker to auth mode

[2020-08-26 12:50] sergey-koba-mobidev commented on #141
You may find this example useful - it helped me a lot https://github.com/sirixdb/sirix-web-frontend

[2020-08-26 16:07] msonowal commented on #808
It must be after the new axios module update

[2020-08-26 16:21] msonowal opened #809 "cookie headers are not sent in ssr request after new update to the axios module v5.12.2"
I am using laravel sanctum as a authentication strategy, which is running fine with both ssr and client it was sending the correct headers/payloads so thus getting 200 response in user info api call. Either in full page reload(ssr) or client side.

But today I have updated the axios modue to the latest which is v5.12.2 and was previously v5.12.1.

So after update If I do full page reload then when

[2020-08-27 03:42] trannguyen61 commented on #731
In my case, my workaround is to set _local/home_ to false and _redirect/home_ to a certain URL. _Redirect/home_ is '/' by default, while I have a middleware to redirect to the login page from '/', which caused the problem.
`
auth: {
    strategies: {
      local: {
        endpoints: {
          ...
          home: false
        },
        tokenRequired: true,
        tokenType: 'Bearer'
      }

[2020-08-27 09:27] mohamadrezahedayati commented on #731
this solution will remove navigation guard.

[2020-08-28 15:19] paulvonber commented on #809
Same here after axios update headers are gone.

[2020-08-28 16:08] #805 closed

[2020-08-29 21:56] mas-iota commented on #92
I am not sure if the authors of this module are seeing the big picture here; **There is no point in building an authentication flow that is most likely will be targeted and eventually breached.**

So any update on this?

[2020-08-29 22:15] azizk17 commented on #798
hey, I think auth options don't work without the middleware, so you need to enable it either globally or per route.

`
export default {
    middleware: 'auth'
    auth : 'guest'
}
`

[2020-08-30 20:08] kartalsez commented on #731
When I add home: false field, the problem was solved. Thnx :)

[2020-08-31 02:46] kempsteven commented on #731
Any one has a fix to this yet?

The solution above works but it will remove the navigation guard.

[2020-08-31 06:10] sarfarazengglb opened #811 "Page Redirect"
I am using     "@nuxtjs/auth": "nuxt-community/auth-module#ab927f6557124802003f87a8c5da9af905ea94bd",

When i am logging in with local login The page is redirected temp to the default logout page and then to the intented url.I want to send user to the success page without intermediate redirection.

[code]

[2020-08-31 07:57] kartalsez commented on #731
Hi @kempsteven. @mohamadrezahedayati's solution worked on my nuxtjs project.
My nuxt.config.js  auth part is like this:

[code]

[2020-08-31 14:43] YannickSilva opened #812 "Authenticatio with Google doesn't work"
I guys i'm having some issues whenever i try to login with google oauth, they say in console.log that it's not a function:

TypeError: Object(...) is not a function
    at Oauth2Scheme.login (oauth2.js?3a82:92)
    at Auth.login (auth.js?facc:131)
    at eval (auth.js?facc:123)

I already defined the client id in the nuxt config

[2020-09-01 16:41] dsteinbach commented on #798
@azizk17 that didn't fix it for me. I had to manually create middleware to handle this case manually.

[2020-09-02 13:27] Oscar2av commented on #134
I had a similar problem. I had to **redirect the user depending on the Role** (User or admin), so, the solution of just writing one common redirection did not work for me. I did the following, I have created a vue page called redirect.vue and there I wrote a middleware that checks the role of the user in order to redirect to the correct page (getting the users info from the vuex store), this solut

[2020-09-02 15:45] bramburn commented on #812
@YannickSilva  use this to raise the issue https://cmty.app/nuxt/issues/new?repo=auth-module

[2020-09-02 15:47] bramburn commented on #811
you need to change the settings in your config so that you set the `redirects` config correctly:
https://dev.auth.nuxtjs.org/api/options#redirect

please use https://cmty.app/nuxt/issues/new?repo=auth-module

[2020-09-02 17:36] dgvai commented on #798
@dsteinbach same here, I also created a manual middleware to solve this issue.

[2020-09-03 10:26] bramburn commented on #781
@freddy-daniel  you should really be using the link shown to raise issues/feature requests.

[2020-09-03 18:39] donmb1 commented on #205
I found this very hard to understand and its still not working as expected.
Tried all the suggested solutions above. I will probably start building my own auth using a bit of vuex :/

[2020-09-05 09:21] Kazuto opened #816 "Twitch oauth2 login stuck in callback loop"
I'm using auth-next and I'm trying to create a "Login with Twitch" strategie but no matter what I try I can't seem to get to work.

[code]

My callback function
[code]

If I return `res.json(data)` i get everything I need. I just can't return it to the auth module.

[code]

I've created a post on cmty.app almost two weeks ago but apparently no one uses the platform.
https://cmty.app/nuxt/auth-modu

[2020-09-05 10:09] Kapcash opened #817 "If loggout, the "home" page does not redirect to "login" page."
### Version

[v4.9.1](https://github.com/auth-module/releases/tag/v4.9.1)

### Reproduction link

[https://codesandbox.io/s/nuxt-auth-redirect-from-home-issue-kd5d5](https://codesandbox.io/s/nuxt-auth-redirect-from-home-issue-kd5d5)

### Steps to reproduce

You should be loggout out when entering the app.

- Go to /page route -> you are redirected to /login, as expected
- Go to /home route -> you

[2020-09-06 10:28] DevenDoes commented on #809
You are a life saver! I just started my first Nuxt project a few days ago (unknowingly after @nuxtjs/auth updated to 5.12.2) and have spent the last 48 hours banging my head against a wall trying to figure out why the authentication middleware would not work. Thanks to you, I have rolled back to 5.12.1 and sure enough everything works as expected.

I'm clearly no expert, but here is the GitHub dif

[2020-09-06 20:03] Jonarod opened #818 "v5 - Any specific v5.0.0-xxxxxxxxxx version to use as Alpha / Beta for now ?"
Sorry for not using the template but the `dev` branch is not listed as a valid version...

I have installed `@nuxtjs/auth-next` to my project as suggested in various issues answers (I need refresh tokens) and nothing seems to work as mentioned in the dev-docs which I guess is normal since `dev` branches usually corresponds to fast sprints.

For instance, I just need to add the `local refresh` stra

[2020-09-07 06:34] kempsteven commented on #731
@kartalsez Yes i believe it should work, but that will remove the navigation guard, try changing your url to `/login` when youre authenticated

[2020-09-07 08:02] jclaessens97 commented on #798
@dsteinbach & @dgvai can you post the middleware you wrote to fix this? If I do a check client-side I can redirect manually, but in my middleware loggedIn is always false, so I can't use middleware to redirect. After the page is loaded client-side once the loggedIn is set succesfully...

[2020-09-07 08:22] exophunk opened #820 "User is fetched on every route switch"
[code]

`"@nuxtjs/auth-next": "^5.0.0-1595976864.509d9d6",`

I use auth-next, because I need Refresh Token. Login and everything works great. But I see that User is fetched again and again and again.

I have a backend API url to deliver the user /api/v1/auth/user (node express). For testing, I've added a log to the function and I see in the backend that the function is called not only on page relo

[2020-09-07 09:20] manalab17 commented on #811
I have same issue. is there other ways to redirect success page without redirect `home` route?

[2020-09-07 09:50] bramburn commented on #811
what is the issue here? can you elaborate the sequence to replicate the issue. Or please raise a new ticket.

[2020-09-07 09:51] bramburn commented on #820
I will take a look but I normally get loads of user/ request but I never thought i was an issue.

[2020-09-07 09:53] bramburn commented on #818
weird, its working for me.
maybe you can elaborate on the actual issue?

are you using auth-next right?

[2020-09-07 13:57] Jonarod commented on #818
Yes I did followed all the steps in [https://dev.auth.nuxtjs.org](https://dev.auth.nuxtjs.org) word for word.

But just as I write and after a long trial and error night I think I got the issue...

It is a documentation issue actually: it is never implied nor specified that the very `login.vue` component should also have the `middleware:['auth']` which seems counter-intuitive IMHO. In fact, the do

[2020-09-07 13:59] bramburn commented on #818
do you think you could correct the docs and PR?

[2020-09-07 14:54] dgvai commented on #798
@jclaessens97 , sure, here is mine:

in `middlewares/guest.js`:

[code]

[2020-09-07 15:04] jclaessens97 commented on #798
Hmm weird.. In my case $auth.$state.loggedIn is always false. I had the above middleware implemented myself, but I thought you guys were doing something extra 😅 . Not sure what the cause is that the loggedIn is only set on the client side and not on the SSR side :/ I've used this module before, once for a local strategy (+- 2 years ago) and 3 months ago with a oauth2 strategy and I can't remind my

[2020-09-07 15:27] james-tyner opened #821 "Redirect after login doesn't occur for nested routes, only basic routes"
I'm trying to use the `@nuxtjs/auth` module for OAuth2 authentication from Okta in a web app.

My app has a URL structure like: `/browse/{folder}` to view images from a particular folder, where `{folder}` can be any string of text. This is accomplished by creating a top-level view called `browse.vue`, a folder called `browse`, and a child component within that folder called `_folder.vue`. See more

[2020-09-07 15:40] jclaessens97 commented on #821
@james-tyner  did you try adding nanoid dependency v2 instead of v3 in your package.json? (see #750

[2020-09-07 16:42] james-tyner commented on #821
Just tried that and it didn't resolve it. I think what that issue is describing is that the user is not directed to the Google sign-in page, but that's been happening properly for me. My issue is about where the user is directed after they return from Google sign-in.

[2020-09-07 22:14] gorenburg commented on #780
Bumped into this issue as well. Probably path to methods should be updated to fix the issue

[2020-09-08 00:36] manalab17 commented on #811
It is not issue, just a problem to me.

is the only way that set `home` link in config to redirect after auth.login?

[2020-09-08 07:53] Amoki opened #822 "[Auth-next] Unexptected token { when extending a Scheme"
### Version

[5.0.0-1595976864.509d9d6](https://github.com/auth-module/releases/tag/5.0.0-1595976864.509d9d6)

### Reproduction link

[https://github.com/Amoki/nuxt-auth-scheme-bug](https://github.com/Amoki/nuxt-auth-scheme-bug)

### Steps to reproduce

The reproduction repo is a brand new nuxt project with auth-next and an empty extend file in `auth/oidc_scheme.js`
[code]
Go to the localhost to t

[2020-09-08 17:37] damafeez commented on #780
I switched to the [dev branch](https://dev.auth.nuxtjs.org/guide/setup), that solves my issue.
I don't know if it's worth raising a pr to fix this on master? Otherwise, I'm willing to close this since the dev branch is more updated and should fix issues like this mostly.

[2020-09-08 17:41] gorenburg commented on #780
@damafeez yes, i see they've moved `utils` to the proper location and it should work there. do you know any ETA when dev would be merged into master?

p.s. i think we can close PR with mark that it's fixed in dev branch for future reference

[2020-09-08 17:53] damafeez commented on #780
@gorenburg re ETA, I've been wondering also. `master`'s been behind for so long, I wonder if there's any plan to merge them soon. Anyway, I'll just stick to the dev branch for now.

[2020-09-08 17:54] #780 closed

[2020-09-09 10:14] dansullivan86 opened #823 "Add option to disable redirect when calling setUserToken or login"
### What problem does this feature solve?

My app has a form that includes a login as part of the flow.  I need to log the user in, then submit the form and handle validation responses.  Currently as soon as the user is logged in they are redirected.  N.B I do use the login redirect for other login flows.

### What does the proposed changes look like?

Add an options param to setUserToken / login

[2020-09-11 15:08] samcyn commented on #205
@donmb1 that's what I had to do then but with the recent updates and fixes in the latest version. I think you can find your way around this.
Last Year I fixed this issue using this.. by due to some other requirements for my auth system I had to build a auth system customized for my application.

[2020-09-12 22:04] may17 commented on #731
@kempsteven maybe you could use an own middleware for public routes to solve the issue. Something like that:

[code]

Anyway. Thanks @Dimidel. That solves the error for the moment but as mention before it ships some drawbacks everyone should keep in mind.

[2020-09-13 03:24] t3hmrman commented on #142
Not that you needed another opinion in here, but just to make it clear -- HTTPOnly cookies are absolutely [a security best practice](https://owasp.org/www-community/HttpOnly), it protects from many common forms of XSS attacks.

There seems to already be a PR for this:

https://github.com/nuxt-community/auth-module/pull/390

I'm going to have to move off this library but it would be nice if that PR

[2020-09-13 14:26] KamranMaqbool opened #828 "Prevent User Request on index page(before login) Not Working : Laravel sanctum (Token Based Authentication))"
I'm Using Nuxt Auth Module With Laravel Sanctum

**Issue are**
the user request is being sent automatically when the page starts, even though I'm not login or trying to login

![image](https://user-images.githubusercontent.com/53546053/93020236-55976800-f5f5-11ea-93ef-91ebf6d964af.png)

my nuxt.config.js file is :
`  auth: {
    strategies: {
      local: {
        endpoints: {
          login: {

[2020-09-13 15:53] KamranMaqbool commented on #828
the same issue is asked here
https://stackoverflow.com/questions/62500738/user-request-with-nuxt-auth-module-and-laravel-sanctum

[2020-09-14 13:01] nikolayandreev commented on #828
For me what works best is to disable the user endpoint entirely like that:

[code]
And to avoid the user request immediately after login (because it would be redundant) just return your user info on the login POST response and then:

[code]

After that you can even take advantage of that and only make a request on reload, something like that:

[code]

In other words:
1) Disable the user endpoint b

[2020-09-14 13:03] nikolayandreev commented on #820
Can you see if that might help: https://github.com/nuxt-community/auth-module/issues/828#issuecomment-692036117

[2020-09-14 13:11] nikolayandreev commented on #808
If you want to take control over the user request, you can try https://github.com/nuxt-community/auth-module/issues/828#issuecomment-692036117

[2020-09-14 13:21] nikolayandreev commented on #798
@dgvai  glad that worked for you, but I don't see why would you use that, when the plugin's auth middleware is better, so let's try to get this bad boy working eh?

In my case it works great if I setup a global routerMiddleware

Add this to `nuxt.config.js`
[code]

And then for routes I want to be public I add `auth: 'guest'` for each page!

layouts/default.vue - `auth: false`
layouts/profile.vue

[2020-09-16 14:55] joffreyBerrier opened #830 "Add multiple tokens for non JWT authentication"
I'm Using Nuxt Auth Module With [Devise](https://github.com/heartcombo/devise) without JWT

**Issue are:**

I have this tokens:

[code]

But nuxt-auth works only with JWT token

Any idea ?

Thx

[2020-09-17 10:30] mahammad-sixberries opened #831 "$auth.user is not change with $auth.setUser()"
### Version

[v4.9.1](https://github.com/auth-module/releases/tag/v4.9.1)

### Reproduction link

[https://jsfiddle.net/](https://jsfiddle.net/)

### Steps to reproduce

- manually update user with $auth.setUser() (i.e, from profile page)
- it will change in store (local storage)  but won't update in $auth.user

### What is expected ?

$auth.user should update with $auth.setUser()

### What is act

[2020-09-17 23:31] rognales commented on #731
I managed to remove the error after adding ````home: false````. But i still get ```NuxtError is not defined``` which is there with the original error.

[2020-09-18 07:06] dekadentno commented on #809
Can confirm, changed my ```package.json``` from

[code]

to

[code]
and it works (notice caret has been removed) . Thanks.

[2020-09-18 07:57] SamGeens commented on #729
Try enabling axios https, it might fix the problem:

axios: {
    https: true,
  },

[2020-09-18 14:45] KamranMaqbool commented on #828
@nikolayandreev on page refresh user object remove
how to handle this scenario ?

[2020-09-18 14:49] KamranMaqbool commented on #828
@nikolayandreev
where we can call this method

`beforeCreate() {
if (process.client && !this.$auth.user || this.$auth.user.length) {
      this.$axios.$get('/api/user')
        .then(res => {
          this.$auth.setUser(res.data)
        })
        .catch(err => {
          this.$auth.logout()
          //   Your error handler
        })
    }
}`

[2020-09-18 15:20] nikolayandreev commented on #828
@KamranMaqbool Hi, the user object diassapearing on refresh is expected behaviour because it's stored in vuex, and vuex delete everything on refreah by default.

And that's why you execute the piece of code you mentioned in the layout file, on mounted or beforeCreate hooks, to set the user if it's not found in vuex. Keep in mind that it might be neccessary to check for user.id because user returns

[2020-09-18 15:31] westofer commented on #205
@donmb1

Worked for me

see https://github.com/nuxt-community/auth-module/issues/205#issuecomment-424385896

[2020-09-18 15:37] westofer commented on #205
YES Finally
just remove `auth: false` from your `login.vue`
[code]

[2020-09-18 18:03] AllanPinheiroDeLima commented on #205
They seem to be moving to nuxt 3.0 though. I think maybe we should abandon this implementation next few months,

Link to the new docs: https://dev.auth.nuxtjs.org/guide/middleware

[2020-09-18 19:05] KamranMaqbool commented on #828
@nikolayandreev we will use this piece of code on every page?

[2020-09-18 22:20] nikolayandreev commented on #828
No in layouts/default.vue or layouts/admin.vue and it will be runned once on reload only.

[2020-09-19 04:01] nal-ws-001 opened #832 "Bearer not include in Authorization"
After successful login, fetch the user api.
Token is included but bearer in not include.
I used setToken('local', token)
Then i fetchUser()

"@nuxtjs/auth": "^4.9.1",
"@nuxtjs/axios": "^5.12.2",
"nuxt": "^2.14.5",

[2020-09-19 06:24] donmb1 commented on #205
I ended up building my own auth. As simple as fetching jwt token, writing to a localStorage and making a top-level request which decides if I am logged in or not.

[2020-09-19 08:46] Vignesh-cgs opened #833 "[ERROR] [AUTH] DOMException: Failed to read the 'localStorage' property from 'Window': Access is denied for this document."
Incognito window in Chrome: While am using the inside of an iframe. An error was shown. please help to solve,

[ERROR] [AUTH] DOMException: Failed to read the 'localStorage' property from 'Window': Access is denied for this document.

I have Changed to **localStorage: false** in the nuxt_config.js file, but still not fixed the issue

[code]

[2020-09-19 11:29] ConsoleTVs commented on #205
If you're not using http only cookies for auth on the web, you're vulnerable to xss. Does kot matter if u save the token in localstorage, memory or nom-http only cookies.

The only way is to have a server http only cookie with the session information. This requires the api and app to be in the same tld, but it's mostly the case anyway.

[2020-09-19 12:21] GMounir opened #834 "why fetch user only works in client side"
I connect nuxtjs with laravel 8 using sanctum cookies
with postman everythings works good,
i login the user in client side with nuxtjs and using auth module
[code]
at this moment the user is logged in...

but when i refresh the page 'api/user' return the user but only in client side! in the server side get html text like in the screenshot
<img width="1213" alt="Screen Shot 2020-09-19 at 1 02 07 PM

[2020-09-19 17:18] Neilpoulin commented on #832
I am having the same issue. The `Authorization` header in the request is just my JWT. If I configure my server to just use the full value from the Authorization header, everything works. I'd like to use the `Bearer XXXTOKEN` scheme if possible.

Here's my full `auth` config in `nuxt.config.js`

[code]

[2020-09-20 17:03] Smidds commented on #809
I also can confirm that the issue appears to be explicitly with `axios`. For my project all I did was add a resolution to `axios@0.19.2`:
[code]

[2020-09-21 02:59] nal-ws-001 commented on #832
I fixed by adding Bearer when set token.

[2020-09-21 02:59] #832 closed

[2020-09-21 13:43] geantas commented on #798
I can't get it working, really. Spent 2 days on just this issue and I am almost giving up. Anyone would fancy helping me out?

layouts/default.vue
[code]

pages/login.vue
[code]

nuxt.config.js

[code]

I can log in fine and I cannot access `/login` page when clicking a link. But if I manually enter `/login` into URL, it shows me the page, no redirections. I was trying to get logged in state by cr

[2020-09-21 14:53] hotterya commented on #764
Hello, is there any solution to use latest version of vuex-module-decorators and @nuxtjs/auth together?

[2020-09-22 17:23] toiiia commented on #809
Сука пидорасы поломали все к хуям

[2020-09-23 06:25] msonowal commented on #834
@GMounir
Please check your serverside code it is not responding same response maybe based on the accept header.
Show your server side code

[2020-09-23 07:00] Icon003 commented on #559
@agravelot Hello everyone, I have a problem when using @ nuxt / auth, I use it to interact with keycloak openID, with my settings. After I have passed the authorization, I am thrown to my page with pkce_code_verifier, but auth does not make a request to get tokens, if I do it manually with this code, then I will get tokens. What am I doing wrong, please tell me

[code]

[2020-09-23 08:08] nikolayandreev commented on #798
@geantas That's a long shot, but I noticed you have commented out callback from redirects, I understand that you do not use oAuth2 and that's why you think it should be commented out, but messing with callback url has created problems such as that one for me in the past.

Can you try to put this in nuxt.config.js in auth settings:

[code]

[2020-09-23 08:10] nikolayandreev commented on #828
@KamranMaqbool Did that worked, forgot to tag you..

[2020-09-23 10:58] geantas commented on #798
Hi @nikolayandreev ,
Unfortunately this did not change any behavior. Maybe you have any other ideas?

[2020-09-23 11:27] KamranMaqbool commented on #828
@nikolayandreev yes it's working fine

[2020-09-24 18:07] iamroi commented on #809
@toiiia Я чувствую тебя, дружище. Бля потрачено впустую 4 часа

[2020-09-25 04:36] mjmnagy commented on #776
Im having the same issue

[code]

![image](https://user-images.githubusercontent.com/13066887/94226993-4b5b5080-feb6-11ea-84f0-a45d98db577b.png)

If i try and use `loginWith('`local'` i get `Strategy local is not defined!`

[2020-09-25 05:39] jasonlyu123 commented on #314
This happened in universal mode. This is what I found out, correct me if I am wrong. When the browser restart, the session cookie got discarded so the ssr won't have the token to authenticate. Because firefox would restore the cookie this won't happen to firefox.

About the redirect after login, when you load the page the auth module would extract the token from local storage. Becuase of the token

[2020-09-25 06:40] msonowal commented on #828
@KamranMaqbool
You don't have to use custom implementations this fallback is default offered by the module to determine authentication state.
So as currently due to axios it is bugged there are two request fired one from ssr context and another from client

[2020-09-25 07:44] mvind opened #836 "Using Auth and Guest on the same page?"
Heya everyone!

Is it possible to create a nuxt page where I can somehow differentiate between authenticated users and guests?
Meaning I want to have a page where non-authenticated users can see some parts, and where fully authenticated users can see everything.

I know I can create this easily using two distinct pages, but is it somehow possible to only use one page?

Best regards,
mvind

[2020-09-25 12:50] Icon003 opened #838 "nuxt auth does not make a request after receiving pkce_code_verifier"
Hello, I have a problem when using @ nuxt / auth, I use it to interact with keycloak openID, with my settings. After I have passed the authorization, I am thrown to my page with pkce_code_verifier, but auth does not make a request to get tokens, if I do it manually with this code, then I will get tokens. What am I doing wrong, please tell me

[code]

[2020-09-25 15:02] mvind commented on #836
So I think I have a found solution for this problem.
Nuxt allows for dynamically setting the layout hence I can do this:
[code]
This way I can determine the layout and everything else on the **same** page for both authenticated and non-authenticated users.

[2020-09-25 15:02] #836 closed

[2020-09-25 17:28] sergiocastrovale commented on #798
I'm also stuck in this. Here are the test cases:

* Reaching the login page: works
* Reaching the profile page without logging in: works (I am redirected to the login page)
* Logging in and reaching the profile page: works
* Logging out and attempting to go to the profile page: works  (I am redirected to the login page)
* Logging in and attempting to go to the login page: **does not work** (I can

[2020-09-25 17:46] jclaessens97 commented on #798
In my case it was due to my backend runs locally on https and a nodejs tls check stopped the auth module from working correctly because the axios calls on server side in nuxt are not secured. I set the https option of axios to true in nuxt.config.js, what fixed it for the deployed server, but not local. Locally I had to add the env var
`NODE_TLS_REJECT_UNAUTHORIZED=0`. Also check the base url is s

[2020-09-26 00:36] dajpes commented on #297
Do it.

[2020-09-26 10:27] dekadentno commented on #142
Not using HTTPOnly cookies is often reported by Dynamic application security testing tools like Burp and penetration testing tools like OWASP Zed. It is important to use them and it should at least be optional to use them in this marvelous module. I think it is bad to just ignore them. Also, this issue is dating back from 2018 :(

[2020-09-26 11:56] xperator commented on #809
Thanks god I found this thread while doing random searches in the repository.
I was pretty much banging my wall against the wall for the past day trying to figure out why Nuxt is failing to authenticate the logged-in user in SSR mode. It just kept redirecting all my routes to `/login` for no reason.
Downgrading the `@nuxtjs/axios` version from `5.12.2` to `5.12.1` did the trick.
@Smidds I never he